/**************** service_part css start ****************/
.feature_part {
  .single_feature_post_text {
    padding: 50px;
    background-color: $color_1;
    margin-bottom: 30px;
    position: relative;
    height: 400px;

    @media #{$small_mobile} {
      padding: 35px 20px;
    }

    @media #{$large_mobile} {
      height: 300px;
      padding: 35px 20px;
    }

    @media #{$tab_device} {
      height: 300px;
      padding: 35px 20px;
    }

    @media #{$medium_device} {}

    p {
      line-height: 13px;
    }

    h3 {
      font-size: 24px;
      font-weight: 700;
      margin-top: 21px;

      @media #{$small_mobile} {
        margin-top: 10px;
      }

      @media #{$large_mobile} {}

      @media #{$tab_device} {}

      @media #{$medium_device} {}
    }

    .feature_btn {
      display: inline-block;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 2px;
      color: $primary_color;
      position: absolute;
      left: 50px;
      bottom: 60px;
      line-height: 15px;
      z-index: 5;
      opacity: 0;
      visibility: hidden;
      @include transform_time(0.5s);

      i {
        font-weight: 12px;
        color: $primary_color;
        margin-left: 6px;
      }
    }

    img {
      position: absolute;
      bottom: 0;
      right: 15px;

      @media #{$small_mobile} {
        max-height: 247px;
        right: 0;
        left: 0;
        margin: 0 auto;
      }

      @media #{$large_mobile} {
        max-height: 195px;
        right: 0;
        left: 0;
        margin: 0 auto;
      }

      @media #{$tab_device} {
        max-height: 195px;
        right: 0;
        left: 0;
        margin: 0 auto;
      }

      @media #{$medium_device} {
        max-height: 280px;
        right: 0;
        left: 0;
        margin: 0 auto;
      }
    }

    &:hover {
      .feature_btn {
        bottom: 50px;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}