{% extends 'admin/base.html' %}

{% block content %}
<div class="alert alert-warning d-flex justify-content-between align-items-center" role="alert">
  <span>Some products are running low on stock. Please update the stock to avoid running out of stock.</span>&nbsp&nbsp&nbsp&nbsp&nbsp
  <div>
    <a href="{% url 'generate_low_stock_pdf' %}" class="btn btn-primary btn-sm me-2">Download Low Stock Details</a>
  </div>
</div>

  <table class="table">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Stock</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
        <tr>
          <td>{{ product.product_name }}</td>
          <td>{{ product.stock }}</td>
          <td>
            <a href="{% url 'update_stock' product.pk %}" class="btn btn-primary">Update Stock</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="3">No products found.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
