{% extends 'admin/base.html' %}

{% block content %}

<div class="container-fluid">
  <h1 class="pb-3">Products Sold by Month</h1>
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <img src="data:image/png;base64,{{ graphic }}" class="card-img-top">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          Navigation
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="http://127.0.0.1:8000/login/admin/" class="nav-link">Dashboard</a></li>
          <li class="list-group-item"><a href="http://127.0.0.1:8000/login/admin/shop_app/product/" class="nav-link">Product List</a></li>


        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}