{% extends "admin/base_site.html" %}

{% block content %}
  <div id="sales-chart"></div>

  <script type="text/javascript">
    const chartData = JSON.parse('{{ chart_data|escapejs }}');

    const chart = Highcharts.chart('sales-chart', {
      chart: {
        type: 'column'
      },
      title: {
        text: 'Monthly Product Sales'
      },
      xAxis: {
        categories: chartData.map(data => data.month)
      },
      yAxis: {
        title: {
          text: 'Total Sales'
        }
      },
      series: [{
        name: 'Total Sales',
        data: chartData.map(data => data.total_sales)
      }]
    });
  </script>
{% endblock %}
