{% extends 'base.html' %}
{% load static %}
{% block content %}


        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="#">Home</a></li>
                                    <li class="is-marked">

                                        <a href="#">Other</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->
             <script>
                 function validate()
                {
					var a=document.getElementById("type").value;
					var s=/^[a-zA-Z]+$/;

					   if(a=="")
                {
                    document.getElementById('te').style.display = "block";

                    document.getElementById('te').innerHTML="**Please enter product type";
                    return false;
                }
                if(a!="" && s.test(a)==false){

						document.getElementById('te').style.display = "block";
						document.getElementById('te').innerHTML = "**Invalid product type";
						return false;
					}
                else{
						document.getElementById('te').style.display = "none";

					}
					 var expr = /^[0-9]+$/;
			    var e = document.getElementById("rent").value;


				if(e=="")
                {
                    document.getElementById('rt').style.display = "block";

                    document.getElementById('rt').innerHTML="**Please Enter rent/month";
                    return false;
                }
					else if(e!="" && expr.test(e)==false){
						document.getElementById('rt').style.display = "block";
						document.getElementById('rt').innerHTML = "**Invalid Input";
						return false;
								}
								else{
						document.getElementById('rt').style.display = "none";

					}

									var g = document.getElementById("images").value;

				if(g=="")
                {
                    document.getElementById('img').style.display = "block";

                    document.getElementById('img').innerHTML="**Please upload image";
                    return false;
                }
				else{
						document.getElementById('img').style.display = "none";

					}
										var i = document.getElementById("ad_title").value;
					if(i=="")
                {
                    document.getElementById('at').style.display = "block";

                    document.getElementById('at').innerHTML="**Please Enter Advertisment Title";
                    return false;
                }
                else{
						document.getElementById('at').style.display = "none";


					}
								    var j = document.getElementById("add_info").value;
					if(j=="")
                {
                    document.getElementById('ai').style.display = "block";

                    document.getElementById('ai').innerHTML="**Please Enter Additional Information";
                    return false;
                }
                else{
						document.getElementById('ai').style.display = "none";
			            return true;

					}

			}
			</script>


            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="dash">
                        <div class="container">
                            <div class="row ">
                                <div class="col-lg-9 col-md-12">
                                    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white">
                                        <div class="dash__pad-2">
                                            <h1 class="dash__h1 u-s-m-b-14">Enter the details</h1>

                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <form class="dash-edit-p" method="post" action="{% url 'view' %}"  enctype="multipart/form-data" onsubmit="return validate();">
                                                        {% csrf_token %}

                                                        <div class="gl-inline">

                                                            <div class="u-s-m-b-30">

                                                                <label class="gl-label" for="images">Image *</label>

                                                                <input class="input-text input-text--primary-style" type="file" name="images" id="images" placeholder="Image" onblur="return validate()" onKeyUp="return validate()" accept="image/png, image/gif, image/jpeg">
                                                             <span id="ermsg1" name="ermsg1" style="color:red"> </span>

                                                            </div>

                                                        </div>

                                                        <button class="btn btn--e-brand-b-2" type="submit">RENT IT</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->
        </div>

        {% endblock %}
