{% if messages %}

{% for message in messages %}
<div id="message" class="container3">
    <div {% if message.tags %} class="alert alert-{{ message.tags }}"
        style="border: 2px solid rgb(48, 2, 2);color: rgb(0, 0, 0)" {% endif %} role="alert">
        <!-- <button type="button" class="close" data-dismiss="alert">-->
        <span aria-hidden="true">&times;</span>{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error:
        {% endif %}
        {{ message }}</button>

    </div>
</div>
{% endfor %}

{% endif %}