
<style>* {

.chat-bubble {
	max-width: 80%;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 10px;
	clear: both;
}

.chat-bubble.bot {
	background-color: #f1f1f1;
	float: left;
}


.bot-right {
    background-color: #f1f1f1;
    float: right;
    color: #0000ff;

}
.user-message {
  background-color: #007bff;
  color: #fff;
  text-align: right;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.bot-message {
  background-color: #cfe2f3;
  color: #000;
  text-align: left;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}



}
</style>

{% load static %}
<!--====== SAAM -BOT ======-->
    <link rel="stylesheet" href="{% static 'chatbot/style.css' %}">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<div class="container">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Chat support</h4>
                    <p class="chatbox__description--header">Hi. My name is Sam. How can I help you?</p>
                </div>
            </div>


            <div id="chatbox-messagess"></div>


            <form id="chat-form">
    {% csrf_token %}
    <div class="chatbox__footer">
        <input type="text" name="question"  placeholder="Write a message...">
        <button class="chatbox__send--footer send__button">Send</button>
    </div>
</form>

<script>
$(document).ready(function () {
    $("#chat-form").submit(function (e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "{% url 'chatbot' %}",
            data: $(this).serialize(),
            success: function (response) {
                if ($("#chatbox-messagess").length) {
                    var chatbox = $("#chatbox-messagess");
                    var question = $("<div class='user-message'></div>").text(response.question);
                    var answer = $("<div class='bot-message'></div>").text(response.answer);
                    chatbox.append(question).append(answer);
                }
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
    });
});

</script>

        </div>
        <div class="chatbox__button">
            <button><img src="{% static 'chatbot/images/chatbox-icon.svg' %}" /></button>
        </div>
    </div>
</div>

    <script type="text/javascript" src="{% static 'chatbot/app.js' %}"></script>
                <!--====== BOT SAM END ======-->