{% extends 'base.html' %}
{% load static %}
{% block content %}




        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="index.html">Home</a></li>
                                    <li class="is-marked">

                                        <a href="checkout.html">Checkout</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->


            <!--====== Section 3 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="checkout-f">
                            <div class="row">
<!--                                <div class="col-lg-6">-->
<!--                                    <h1 class="checkout-f__h1">DELIVERY INFORMATION</h1>-->
<!--                                    <form class="checkout-f__delivery">-->
<!--                                        <div class="u-s-m-b-30">-->
<!--                                            <div class="u-s-m-b-15">-->

<!--                                                &lt;!&ndash;====== Check Box ======&ndash;&gt;-->
<!--                                                <div class="check-box">-->

<!--                                                    <input type="checkbox" id="get-address">-->
<!--                                                    <div class="check-box__state check-box__state&#45;&#45;primary" >-->

<!--                                                        <label class="check-box__label" for="get-address">Use default shipping and billing address from account</label></div>-->
<!--                                                </div>-->
<!--                                                &lt;!&ndash;====== End - Check Box ======&ndash;&gt;-->
<!--                                            </div>-->

<!--                                            &lt;!&ndash;====== First Name, Last Name ======&ndash;&gt;-->
<!--                                            <div class="gl-inline">-->
<!--                                                <div class="u-s-m-b-15">-->

<!--                                                    <label class="gl-label" for="fname">FIRST NAME *</label>-->

<!--                                                    <input class="input-text input-text&#45;&#45;primary-style" type="text" id="fname" value="{{address.fname}}" data-bill="" readonly></div>-->
<!--                                                <div class="u-s-m-b-15">-->

<!--                                                    <label class="gl-label" for="lname">LAST NAME *</label>-->

<!--                                                    <input class="input-text input-text&#45;&#45;primary-style" type="text" id="lname" value="{{address.lname}}" data-bill="" readonly></div>-->
<!--                                            </div>-->
<!--                                            &lt;!&ndash;====== End - First Name, Last Name ======&ndash;&gt;-->


<!--                                            &lt;!&ndash;====== E-MAIL ======&ndash;&gt;-->
<!--                                            <div class="u-s-m-b-15">-->

<!--                                                <label class="gl-label" for="billing-email">E-MAIL *</label>-->

<!--                                                <input class="input-text input-text&#45;&#45;primary-style" type="text" id="billing-email" value="{{address.user.email}}" data-bill="" readonly></div>-->
<!--                                            &lt;!&ndash;====== End - E-MAIL ======&ndash;&gt;-->


<!--                                            &lt;!&ndash;====== PHONE ======&ndash;&gt;-->
<!--                                            <div class="u-s-m-b-15">-->

<!--                                                <label class="gl-label" for="tel">PHONE *</label>-->

<!--                                                <input class="input-text input-text&#45;&#45;primary-style" type="text" id="tel" value="{{address.phone_number}}" data-bill="" readonly></div>-->
<!--                                            &lt;!&ndash;====== End - PHONE ======&ndash;&gt;-->


<!--                                            &lt;!&ndash;====== Street Address ======&ndash;&gt;-->
<!--                                            <div class="u-s-m-b-15">-->

<!--                                                <label class="gl-label" for="house">Home/Appartment Name *</label>-->

<!--                                                <input class="input-text input-text&#45;&#45;primary-style" type="text" id="house" value="{{address.house}}" placeholder="House/Appartment name" data-bill="" readonly></div>-->
<!--                                            &lt;!&ndash;====== End - Street Address ======&ndash;&gt;-->

<!--                                            <div class="u-s-m-b-15">-->

<!--                                                <label class="gl-label" for="street">STREET ADDRESS *</label>-->

<!--                                                <input class="input-text input-text&#45;&#45;primary-style" type="text" id="street" value="{{address.street}}" placeholder="House name and street name" data-bill="" readonly></div>-->



<!--                                            &lt;!&ndash;====== Town / City ======&ndash;&gt;-->
<!--                                            <div class="u-s-m-b-15">-->

<!--                                                <label class="gl-label" for="billing-town-city">TOWN/CITY *</label>-->

<!--                                                <input class="input-text input-text&#45;&#45;primary-style" type="text" id="billing-town-city" value="{{address.city}}" data-bill="" readonly></div>-->
<!--                                            &lt;!&ndash;====== End - Town / City ======&ndash;&gt;-->


<!--                                            &lt;!&ndash;====== STATE/PROVINCE ======&ndash;&gt;-->
<!--                                            <div class="u-s-m-b-15">-->

<!--                                                &lt;!&ndash;====== Select Box ======&ndash;&gt;-->

<!--                                                <label class="gl-label" for="billing-state">STATE/PROVINCE *</label><select class="select-box select-box&#45;&#45;primary-style" id="billing-state" data-bill="" disabled>-->
<!--                                                    <option selected value="{{address.state}}">{{address.state}}</option>-->
<!--                                                    <option value="al">Alabama</option>-->
<!--                                                    <option value="al">Alaska</option>-->
<!--                                                    <option value="ny">New York</option>-->
<!--                                                </select>-->
<!--                                                &lt;!&ndash;====== End - Select Box ======&ndash;&gt;-->
<!--                                            </div>-->
<!--                                            &lt;!&ndash;====== End - STATE/PROVINCE ======&ndash;&gt;-->


<!--                                            &lt;!&ndash;====== ZIP/POSTAL ======&ndash;&gt;-->
<!--                                            <div class="u-s-m-b-15">-->

<!--                                                <label class="gl-label" for="billing-zip">ZIP/POSTAL CODE *</label>-->

<!--                                                <input class="input-text input-text&#45;&#45;primary-style" type="text" id="billing-zip" value="{{address.pin}}" placeholder="Zip/Postal Code" data-bill="" readonly></div>-->
<!--                                            &lt;!&ndash;====== End - ZIP/POSTAL ======&ndash;&gt;-->
<!--                                            <div class="u-s-m-b-10">-->

<!--                                                &lt;!&ndash;====== Check Box ======&ndash;&gt;-->
<!--&lt;!&ndash;                                                <div class="check-box">&ndash;&gt;-->

<!--&lt;!&ndash;                                                    <input type="checkbox" id="make-default-address" data-bill="">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <div class="check-box__state check-box__state&#45;&#45;primary">&ndash;&gt;-->

<!--&lt;!&ndash;                                                        <label class="check-box__label" for="make-default-address">Make default shipping and billing address</label>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </div>&ndash;&gt;-->
<!--                                                &lt;!&ndash;====== End - Check Box ======&ndash;&gt;-->
<!--                                            </div>-->
<!--                                            <div class="u-s-m-b-10">-->

<!--                                                <a class="gl-link" href="{% url 'addressbook' %}" >Want to change default shipping address?</a></div>-->
<!--                                            <div class="collapse u-s-m-b-15" id="create-account">-->

<!--                                                <span class="gl-text u-s-m-b-15">Create an account by entering the information below. If you are a returning customer please login at the top of the page.</span>-->
<!--                                                <div>-->

<!--                                                    <label class="gl-label" for="reg-password">Account Password *</label>-->

<!--                                                    <input class="input-text input-text&#45;&#45;primary-style" type="text" data-bill id="reg-password"></div>-->
<!--                                            </div>-->
<!--                                            <div class="u-s-m-b-10">-->

<!--                                                <label class="gl-label" for="order-note">ORDER NOTE</label><textarea class="text-area text-area&#45;&#45;primary-style" id="order-note"></textarea></div>-->
<!--                                            <div>-->

<!--                                                <button class="btn btn&#45;&#45;e-transparent-brand-b-2" type="submit">SAVE</button></div>-->
<!--                                        </div>-->
<!--                                    </form>-->
<!--                                </div>-->

                                <div class="col-lg-12">
                                    <h1 class="checkout-f__h1">ORDER SUMMARY</h1>

                                    <!--====== Order Summary ======-->
                                    <div class="o-summary">
                                        <div class="o-summary__section u-s-m-b-30">
                                            <div class="o-summary__item-wrap gl-scroll">
                                                {% for cart_item in cart_items %}

                                                <div class="o-card">
                                                    <div class="o-card__flex">
                                                        <div class="o-card__img-wrap">

                                                            <img class="u-img-fluid" src="{{cart_item.product.images.url}}" style="width:600 height:600;" alt=""></div>
                                                        <div class="o-card__info-wrap">

                                                            <span class="o-card__name">

                                                                <a href="{{ cart_item.product.get_url }}">{{cart_item.product.product_name}}</a></span>

                                                            <span class="o-card__quantity">Quantity x {{cart_item.quantity}}</span>

                                                            <span class="o-card__price">₹{{cart_item.product.price}} each </span></div>
                                                    </div>

                                                    <a href="{% url 'remove_cart' cart_item.product.id cart_item.id %}" class="o-card__del far fa-trash-alt"></a>
                                                </div>
                                                {% endfor %}

                                            </div>
                                        </div>
                                        <div class="o-summary__section u-s-m-b-30">
                                            <div class="o-summary__box">
                                                <h1 class="checkout-f__h1">SHIPPING & BILLING</h1>
                                                <div class="ship-b">

                                                    <span class="ship-b__text">Ship to:</span>
                                                    <div class="ship-b__box u-s-m-b-10">
                                                        <p class="ship-b__p">{{address.fname}} {{address.lname}}, {{address.house}} {{address.street}}</p>
<!--                                                        <p class="ship-b__p">{{address.house}} {{address.street}}</p>-->


                                                        <a class="ship-b__edit btn--e-transparent-platinum-b-2" data-modal="modal" data-modal-id="#edit-ship-address">Edit</a>
                                                    </div>
                                                    <div class="ship-b__box">

                                                        <span class="ship-b__text">Bill to default billing address</span>

                                                        <a class="ship-b__edit btn--e-transparent-platinum-b-2" data-modal="modal" data-modal-id="#edit-ship-address">Edit</a></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="o-summary__section u-s-m-b-30">
                                            <div class="o-summary__box">
                                                <table class="o-summary__table">
                                                    <tbody>
                                                        <tr>
                                                            <td>SHIPPING</td>
                                                            <td>$4.00</td>
                                                        </tr>
                                                        <tr>
                                                            <td>TAX</td>
                                                            <td>$0.00</td>
                                                        </tr>
                                                        <tr>
                                                            <td>SUBTOTAL</td>
                                                            <td>$379.00</td>
                                                        </tr>
                                                        <tr>
                                                            <td>GRAND TOTAL</td>
                                                            <td>{{total}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="o-summary__section u-s-m-b-30">
                                            <div class="o-summary__box">
                                                <h1 class="checkout-f__h1">PAYMENT INFORMATION</h1>
                                                <form class="checkout-f__payment" id="myform">
                                                    <div class="u-s-m-b-10">

                                                        <!--====== Radio Box ======-->
                                                        <div class="radio-box">

                                                            <input type="radio" id="cash-on-delivery" name="payment">
                                                            <div class="radio-box__state radio-box__state--primary">

                                                                <label class="radio-box__label" for="cash-on-delivery">Cash on Delivery</label></div>
                                                        </div>
                                                        <!--====== End - Radio Box ======-->

                                                        <span class="gl-text u-s-m-t-6">Pay Upon Cash on delivery. (This service is only available for some countries)</span>
                                                    </div>
                                                    <div class="u-s-m-b-10">

                                                        <!--====== Radio Box ======-->
                                                        <div class="radio-box">

                                                            <input type="radio" id="direct-bank-transfer" name="payment">
                                                            <div class="radio-box__state radio-box__state--primary">

                                                                <label class="radio-box__label" for="direct-bank-transfer">Direct Bank Transfer</label></div>
                                                        </div>
                                                        <!--====== End - Radio Box ======-->

                                                        <span class="gl-text u-s-m-t-6">Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account.</span>
                                                    </div>
                                                    <div class="u-s-m-b-10">

                                                        <!--====== Radio Box ======-->
                                                        <div class="radio-box">

                                                            <input type="radio" id="pay-with-check" name="payment">
                                                            <div class="radio-box__state radio-box__state--primary">

                                                                <label class="radio-box__label" for="pay-with-check">Pay With Check</label></div>
                                                        </div>
                                                        <!--====== End - Radio Box ======-->

                                                        <span class="gl-text u-s-m-t-6">Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</span>
                                                    </div>
                                                    <div class="u-s-m-b-10">

                                                        <!--====== Radio Box ======-->
                                                        <div class="radio-box">

                                                            <input type="radio" id="pay-with-card" name="payment">
                                                            <div class="radio-box__state radio-box__state--primary">

                                                                <label class="radio-box__label" for="pay-with-card">Pay With Credit / Debit Card</label></div>
                                                        </div>
                                                        <!--====== End - Radio Box ======-->

                                                        <span class="gl-text u-s-m-t-6">International Credit Cards must be eligible for use within the United States.</span>
                                                    </div>
                                                    <div class="u-s-m-b-10">

                                                        <!--====== Radio Box ======-->
                                                        <div class="radio-box">

                                                            <input type="radio" id="pay-pal" name="payment">
                                                            <div class="radio-box__state radio-box__state--primary">

                                                                <label class="radio-box__label" for="pay-pal">Pay Pal</label></div>
                                                        </div>
                                                        <!--====== End - Radio Box ======-->

                                                        <span class="gl-text u-s-m-t-6">When you click "Place Order" below we'll take you to Paypal's site to set up your billing information.</span>
                                                    </div>
                                                    <div class="u-s-m-b-15">

                                                        <!--====== Check Box ======-->
                                                        <div class="check-box">

                                                            <input type="checkbox" id="term-and-condition">
                                                            <div class="check-box__state check-box__state--primary">

                                                                <label class="check-box__label" for="term-and-condition">I consent to the</label></div>
                                                        </div>
                                                        <!--====== End - Check Box ======-->

                                                        <a class="gl-link">Terms of Service.</a>
                                                    </div>
                                                    <div>

                                                        <button id="rzp-button1" class="btn btn--e-brand-b-2" type="submit">PLACE ORDER</button></div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <script>
                        var options = {
                            "key": 'rzp_test_8wXiTT2Zx0pNy3', // Enter the Key ID generated from the Dashboard
                            "amount": "{{razoramount}}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                            "currency": "INR",
                            "name": "SanKart",
                            "description": "Test Transaction",
                            "image": "https://example.com/your_logo",
                            "order_id": "{{order_id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                            "handler": function (response){
                                console.log("success")
                                var form = document.getElementById["myform"];


                                var a = response.razorpay_payment_id;


                                window.location.href = 'http://127.0.0.1:8000/paymentdone?order_id=${response.razorpay_order_id}&cust_id=${response.customer}&payment_id='+a

                            },
                            "theme": {
                                "color": "#3399cc"
                            }
                        };
                        var rzp1 = new Razorpay(options);
                        rzp1.on('payment.failed', function (response){
                                alert(response.error.description);
                        });
                        document.getElementById('rzp-button1').onclick = function(e){
                            console.log("button click");
                            rzp1.open();
                            e.preventDefault();
                        }
                        </script>
                                    <!--====== End - Order Summary ======-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 3 ======-->
        </div>
        <!--====== End - App Content ======-->
    {% endblock %}
