<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title></title>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type"/>
<meta content="tesseract 4.1.1" name="ocr-system"/>
<meta content="ocr_page ocr_carea ocr_par ocr_line ocrx_word ocrp_wconf" name="ocr-capabilities"/>
</head>
<body>
<div class="ocr_page" id="page_1" title='image "/content/amil.jpg"; bbox 0 0 1241 1755; ppageno 0'>
<div class="ocr_carea" id="block_1_1" title="bbox 0 0 1241 420">
<p class="ocr_par" id="par_1_1" lang="eng" title="bbox 0 0 1241 420">
<span class="ocr_line" id="line_1_1" title="bbox 0 0 1241 332; baseline 0 -18; x_size 418.66666; x_descenders 104.66666; x_ascenders 104.66667">
<span class="ocrx_word" id="word_1_1" title="bbox 0 0 1241 332; x_wconf 95"> </span>
</span>
<span class="ocr_line" id="line_1_2" title="bbox 144 332 372 420; baseline 0 1335; x_size 248.66667; x_descenders 62.166668; x_ascenders 62.166668">
<span class="ocrx_word" id="word_1_2" title="bbox 144 332 372 420; x_wconf 95"> </span>
</span>
</p>
</div>
<div class="ocr_carea" id="block_1_2" title="bbox 84 453 267 483">
<p class="ocr_par" id="par_1_2" lang="eng" title="bbox 84 453 267 483">
<span class="ocr_line" id="line_1_3" title="bbox 84 453 267 483; baseline 0 -8; x_size 36.25; x_descenders 8.5; x_ascenders 9.25">
<span class="ocrx_word" id="word_1_3" title="bbox 84 453 131 483; x_wconf 96">My</span>
<span class="ocrx_word" id="word_1_4" title="bbox 138 453 267 475; x_wconf 96">Contact</span>
</span>
</p>
</div>
<div class="ocr_carea" id="block_1_3" title="bbox 78 510 421 579">
<p class="ocr_par" id="par_1_3" lang="eng" title="bbox 78 510 421 579">
<span class="ocr_line" id="line_1_4" title="bbox 78 510 421 543; baseline 0 -11; x_size 22; x_descenders 6; x_ascenders 4">
<span class="ocrx_word" id="word_1_5" title="bbox 78 510 107 533; x_wconf 79">M</span>
<span class="ocrx_word" id="word_1_6" title="bbox 123 512 421 543; x_wconf 91">amilmshaji2560@gmail.com</span>
</span>
<span class="ocr_line" id="line_1_5" title="bbox 81 556 291 579; baseline -0.005 0; x_size 29.857143; x_descenders 6.8571429; x_ascenders 7">
<span class="ocrx_word" id="word_1_7" title="bbox 81 556 104 579; x_wconf 90">©</span>
<span class="ocrx_word" id="word_1_8" title="bbox 124 562 291 578; x_wconf 79">+91-9747972560</span>
</span>
</p>
</div>
<div class="ocr_carea" id="block_1_4" title="bbox 81 599 362 633">
<p class="ocr_par" id="par_1_4" lang="eng" title="bbox 81 599 362 633">
<span class="ocr_line" id="line_1_6" title="bbox 81 599 362 633; baseline 0 -10; x_size 19; x_descenders 3; x_ascenders 4">
<span class="ocrx_word" id="word_1_9" title="bbox 81 599 99 627; x_wconf 93">9</span>
<span class="ocrx_word" id="word_1_10" title="bbox 124 603 362 633; x_wconf 50">Kasaragod,Kerala,India</span>
</span>
</p>
</div>
<div class="ocr_carea" id="block_1_5" title="bbox 77 637 432 662">
<p class="ocr_par" id="par_1_5" lang="eng" title="bbox 77 637 432 662">
<span class="ocr_line" id="line_1_7" title="bbox 77 637 432 662; baseline 0 -7; x_size 21; x_descenders 5; x_ascenders 5">
<span class="ocrx_word" id="word_1_11" title="bbox 77 638 101 662; x_wconf 56">(in)</span>
<span class="ocrx_word" id="word_1_12" title="bbox 112 637 432 660; x_wconf 33">https://www.linkedin.com/in/am</span>
</span>
</p>
</div>
<div class="ocr_carea" id="block_1_6" title="bbox 80 662 404 729">
<p class="ocr_par" id="par_1_6" lang="eng" title="bbox 78 662 404 725">
<span class="ocr_line" id="line_1_8" title="bbox 142 662 198 685; baseline 0 -5; x_size 23; x_descenders 5; x_ascenders 7">
<span class="ocrx_word" id="word_1_13" title="bbox 142 662 198 685; x_wconf 71">shaji/</span>
</span>
<span class="ocr_line" id="line_1_9" title="bbox 80 691 404 729; baseline 0 -10; x_size 19; x_descenders 4; x_ascenders 5">
<span class="ocrx_word" id="word_1_14" title="bbox 80 691 100 729; x_wconf 62">QO</span>
<span class="ocrx_word" id="word_1_15" title="bbox 115 704 404 724; x_wconf 91">https://github.com/amilmshaji</span>
</span>
</p>
</div>
<div class="ocr_carea" id="block_1_7" title="bbox 98 666 141 680">
<p class="ocr_par" id="par_1_7" lang="eng" title="bbox 98 666 141 680">
<span class="ocr_line" id="line_1_10" title="bbox 98 666 141 680; baseline 0 1075; x_size 20; x_descenders 5; x_ascenders 5">
<span class="ocrx_word" id="word_1_16" title="bbox 98 666 141 680; x_wconf 95"> </span>
</span>
</p>
</div>
<div class="ocr_carea" id="block_1_8" title="bbox 111 682 176 684">
<p class="ocr_par" id="par_1_8" lang="eng" title="bbox 111 682 176 684">
<span class="ocr_line" id="line_1_11" title="bbox 111 682 176 684; baseline 0 0; x_size 1; x_descenders -0.5; x_ascenders 0.5">
<span class="ocrx_word" id="word_1_17" title="bbox 111 682 176 684; x_wconf 95"> </span>
</span>
</p>
</div>
<div class="ocr_carea" id="block_1_9" title="bbox 73 785 320 811">
<p class="ocr_par" id="par_1_9" lang="eng" title="bbox 73 785 320 811">
<span class="ocr_line" id="line_1_12" title="bbox 73 785 320 811; baseline 0 0; x_size 31.351351; x_descenders 5.3513513; x_ascenders 8">
<span class="ocrx_word" id="word_1_18" title="bbox 73 785 229 811; x_wconf 96">Technical</span>
<span class="ocrx_word" id="word_1_19" title="bbox 238 785 320 811; x_wconf 96">Skills</span>
</span>
</p>
</div>
<div class="ocr_carea" id="block_1_10" title="bbox 77 820 310 828">
<p class="ocr_par" id="par_1_10" lang="eng" title="bbox 77 820 310 828">
<span class="ocr_line" id="line_1_13" title="bbox 77 820 310 828; baseline 0 0; x_size 4; x_descenders -2; x_ascenders 2">
<span class="ocrx_word" id="word_1_20" title="bbox 77 820 310 828; x_wconf 95"> </span>
</span>
</p>
</div>
<div class="ocr_carea" id="block_1_11" title="bbox 73 848 436 894">
<p class="ocr_par" id="par_1_11" lang="eng" title="bbox 73 848 436 894">
<span class="ocr_line" id="line_1_14" title="bbox 74 848 416 870; baseline 0 -5; x_size 23; x_descenders 5; x_ascenders 6">
<span class="ocrx_word" id="word_1_21" title="bbox 74 848 144 870; x_wconf 96">Python</span>
<span class="ocrx_word" id="word_1_22" title="bbox 152 848 154 867; x_wconf 96">|</span>
<span class="ocrx_word" id="word_1_23" title="bbox 163 848 232 870; x_wconf 96">Django</span>
<span class="ocrx_word" id="word_1_24" title="bbox 240 848 361 867; x_wconf 92">Framework</span>
<span class="ocrx_word" id="word_1_25" title="bbox 346 844 362 875; x_wconf 92">|</span>
<span class="ocrx_word" id="word_1_26" title="bbox 370 849 416 865; x_wconf 96">Data</span>
</span>
<span class="ocr_line" id="line_1_15" title="bbox 73 875 436 894; baseline 0 -2; x_size 20.631578; x_descenders 4.6315789; x_ascenders 5.4736843">
<span class="ocrx_word" id="word_1_27" title="bbox 73 876 179 892; x_wconf 96">Structures</span>
<span class="ocrx_word" id="word_1_28" title="bbox 187 875 189 894; x_wconf 92">|</span>
<span class="ocrx_word" id="word_1_29" title="bbox 196 875 260 894; x_wconf 90">JAVA|</span>
<span class="ocrx_word" id="word_1_30" title="bbox 269 875 336 894; x_wconf 85">HTML|</span>
<span class="ocrx_word" id="word_1_31" title="bbox 344 875 374 892; x_wconf 96">Git</span>
<span class="ocrx_word" id="word_1_32" title="bbox 385 875 387 894; x_wconf 96">|</span>
<span class="ocrx_word" id="word_1_33" title="bbox 396 876 436 892; x_wconf 96">NLP</span>
</span>
</p>
</div>
<div class="ocr_carea" id="block_1_12" title="bbox 73 903 452 925">
<p class="ocr_par" id="par_1_12" lang="eng" title="bbox 73 903 452 925">
<span class="ocr_textfloat" id="line_1_16" title="bbox 73 903 452 925; baseline 0 -5; x_size 23; x_descenders 5; x_ascenders 6">
<span class="ocrx_word" id="word_1_34" title="bbox 73 904 86 920; x_wconf 92">C</span>
<span class="ocrx_word" id="word_1_35" title="bbox 94 903 240 925; x_wconf 92">Programming</span>
<span class="ocrx_word" id="word_1_36" title="bbox 226 899 243 930; x_wconf 92">|</span>
<span class="ocrx_word" id="word_1_37" title="bbox 250 904 291 920; x_wconf 94">PHP</span>
<span class="ocrx_word" id="word_1_38" title="bbox 299 903 301 922; x_wconf 94">|</span>
<span class="ocrx_word" id="word_1_39" title="bbox 310 903 370 922; x_wconf 64">Flask</span>
<span class="ocrx_word" id="word_1_40" title="bbox 363 899 380 930; x_wconf 64">|</span>
<span class="ocrx_word" id="word_1_41" title="bbox 379 904 452 924; x_wconf 96">MYSQL</span>
</span>
</p>
</div>
<div class="ocr_carea" id="block_1_13" title="bbox 74 931 349 953">
<p class="ocr_par" id="par_1_13" lang="eng" title="bbox 74 931 349 953">
<span class="ocr_line" id="line_1_17" title="bbox 74 931 349 953; baseline 0 -5; x_size 23; x_descenders 5; x_ascenders 6">
<span class="ocrx_word" id="word_1_42" title="bbox 74 931 160 948; x_wconf 95">Machine</span>
<span class="ocrx_word" id="word_1_43" title="bbox 167 931 256 953; x_wconf 95">Learning</span>
<span class="ocrx_word" id="word_1_44" title="bbox 263 931 265 950; x_wconf 93">|</span>
<span class="ocrx_word" id="word_1_45" title="bbox 274 932 349 948; x_wconf 77">FastAPI</span>
</span>
</p>
</div>
<div class="ocr_carea" id="block_1_14" title="bbox 69 987 295 1019">
<p class="ocr_par" id="par_1_14" lang="eng" title="bbox 69 987 295 1019">
<span class="ocr_line" id="line_1_18" title="bbox 69 987 295 1019; baseline 0 736; x_size 41.25; x_descenders 10.3125; x_ascenders 10.3125">
<span class="ocrx_word" id="word_1_46" title="bbox 69 987 295 1019; x_wconf 95"> </span>
</span>
</p>
</div>
<div class="ocr_carea" id="block_1_15" title="bbox 100 1077 363 1127">
<p class="ocr_par" id="par_1_15" lang="eng" title="bbox 100 1077 363 1127">
<span class="ocr_line" id="line_1_19" title="bbox 100 1077 363 1099; baseline 0 -5; x_size 22; x_descenders 5; x_ascenders 5">
<span class="ocrx_word" id="word_1_47" title="bbox 100 1078 183 1094; x_wconf 96">Internet</span>
<span class="ocrx_word" id="word_1_48" title="bbox 188 1077 212 1094; x_wconf 96">Of</span>
<span class="ocrx_word" id="word_1_49" title="bbox 216 1077 283 1099; x_wconf 91">Things</span>
<span class="ocrx_word" id="word_1_50" title="bbox 289 1078 363 1094; x_wconf 91">-NPTEL</span>
</span>
<span class="ocr_line" id="line_1_20" title="bbox 100 1105 363 1127; baseline 0 -5; x_size 22; x_descenders 5; x_ascenders 5">
<span class="ocrx_word" id="word_1_51" title="bbox 100 1105 216 1127; x_wconf 96">Networking</span>
<span class="ocrx_word" id="word_1_52" title="bbox 223 1105 285 1122; x_wconf 93">Basics</span>
<span class="ocrx_word" id="word_1_53" title="bbox 292 1106 363 1122; x_wconf 91">-CISCO</span>
</span>
</p>
</div>
<div class="ocr_carea" id="block_1_16" title="bbox 98 1190 383 1268">
<p class="ocr_par" id="par_1_16" lang="eng" title="bbox 98 1190 383 1268">
<span class="ocr_line" id="line_1_21" title="bbox 100 1190 303 1207; baseline 0 0; x_size 22.279999; x_descenders 5.2799997; x_ascenders 5">
<span class="ocrx_word" id="word_1_54" title="bbox 100 1191 147 1207; x_wconf 96">Data</span>
<span class="ocrx_word" id="word_1_55" title="bbox 153 1191 259 1207; x_wconf 96">Structures</span>
<span class="ocrx_word" id="word_1_56" title="bbox 266 1190 283 1207; x_wconf 78">in</span>
<span class="ocrx_word" id="word_1_57" title="bbox 290 1191 303 1207; x_wconf 78">C</span>
</span>
<span class="ocr_line" id="line_1_22" title="bbox 99 1218 383 1240; baseline 0 -5; x_size 22; x_descenders 5; x_ascenders 5">
<span class="ocrx_word" id="word_1_58" title="bbox 99 1218 175 1240; x_wconf 96">Getting</span>
<span class="ocrx_word" id="word_1_59" title="bbox 180 1218 255 1235; x_wconf 96">Started</span>
<span class="ocrx_word" id="word_1_60" title="bbox 261 1218 304 1235; x_wconf 96">with</span>
<span class="ocrx_word" id="word_1_61" title="bbox 312 1218 383 1235; x_wconf 96">Docker</span>
</span>
<span class="ocr_line" id="line_1_23" title="bbox 98 1246 345 1268; baseline 0 -5; x_size 22; x_descenders 5; x_ascenders 5">
<span class="ocrx_word" id="word_1_62" title="bbox 98 1247 144 1263; x_wconf 94">AWS</span>
<span class="ocrx_word" id="word_1_63" title="bbox 150 1246 245 1268; x_wconf 94">Academy</span>
<span class="ocrx_word" id="word_1_64" title="bbox 251 1246 345 1263; x_wconf 96">Graduate</span>
</span>
</p>
</div>
<div class="ocr_carea" id="block_1_17" title="bbox 75 1343 203 1374">
<p class="ocr_par" id="par_1_17" lang="eng" title="bbox 75 1343 203 1374">
<span class="ocr_line" id="line_1_24" title="bbox 75 1343 203 1374; baseline 0 -7; x_size 31; x_descenders 7; x_ascenders 7">
<span class="ocrx_word" id="word_1_65" title="bbox 75 1343 203 1374; x_wconf 96">Projects</span>
</span>
</p>
</div>
<div class="ocr_carea" id="block_1_18" title="bbox 81 1408 204 1423">
<p class="ocr_par" id="par_1_18" lang="eng" title="bbox 81 1408 204 1423">
<span class="ocr_line" id="line_1_25" title="bbox 81 1408 204 1423; baseline 0 0; x_size 16; x_descenders 4; x_ascenders 4">
<span class="ocrx_word" id="word_1_66" title="bbox 81 1411 90 1420; x_wconf 20">e</span>
<span class="ocrx_word" id="word_1_67" title="bbox 107 1408 204 1423; x_wconf 90">NanoGPT</span>
</span>
</p>
</div>
<div class="ocr_carea" id="block_1_19" title="bbox 110 1445 467 1464">
<p class="ocr_par" id="par_1_19" lang="eng" title="bbox 110 1445 467 1464">
<span class="ocr_textfloat" id="line_1_26" title="bbox 110 1445 467 1464; baseline 0.006 -6; x_size 18; x_descenders 3; x_ascenders 4">
<span class="ocrx_word" id="word_1_68" title="bbox 110 1450 118 1458; x_wconf 55">o</span>
<span class="ocrx_word" id="word_1_69" title="bbox 136 1445 205 1464; x_wconf 88">Pytorch</span>
<span class="ocrx_word" id="word_1_70" title="bbox 200 1441 214 1468; x_wconf 92">|</span>
<span class="ocrx_word" id="word_1_71" title="bbox 213 1445 292 1462; x_wconf 91">Tensors</span>
<span class="ocrx_word" id="word_1_72" title="bbox 299 1445 301 1462; x_wconf 96">|</span>
<span class="ocrx_word" id="word_1_73" title="bbox 309 1445 383 1460; x_wconf 96">Machine</span>
<span class="ocrx_word" id="word_1_74" title="bbox 391 1445 467 1464; x_wconf 96">Learning</span>
</span>
</p>
</div>
<div class="ocr_carea" id="block_1_20" title="bbox 81 1482 390 1504">
<p class="ocr_par" id="par_1_20" lang="eng" title="bbox 81 1482 390 1504">
<span class="ocr_line" id="line_1_27" title="bbox 81 1482 390 1504; baseline 0 -5; x_size 22; x_descenders 5; x_ascenders 5">
<span class="ocrx_word" id="word_1_75" title="bbox 81 1488 89 1496; x_wconf 61">©</span>
<span class="ocrx_word" id="word_1_76" title="bbox 107 1482 176 1499; x_wconf 93">Online</span>
<span class="ocrx_word" id="word_1_77" title="bbox 183 1482 327 1504; x_wconf 92">Sanitaryware</span>
<span class="ocrx_word" id="word_1_78" title="bbox 334 1484 390 1499; x_wconf 96">Store</span>
</span>
</p>
</div>
<div class="ocr_carea" id="block_1_21" title="bbox 110 1522 507 1541">
<p class="ocr_par" id="par_1_21" lang="eng" title="bbox 110 1522 507 1541">
<span class="ocr_textfloat" id="line_1_28" title="bbox 110 1522 507 1541; baseline 0.003 -5; x_size 22; x_descenders 6; x_ascenders 5">
<span class="ocrx_word" id="word_1_79" title="bbox 110 1526 118 1535; x_wconf 83">©</span>
<span class="ocrx_word" id="word_1_80" title="bbox 136 1522 206 1541; x_wconf 85">Django|</span>
<span class="ocrx_word" id="word_1_81" title="bbox 214 1523 264 1537; x_wconf 93">HTML</span>
<span class="ocrx_word" id="word_1_82" title="bbox 272 1522 274 1539; x_wconf 82">|</span>
<span class="ocrx_word" id="word_1_83" title="bbox 281 1523 315 1537; x_wconf 75">CSS</span>
<span class="ocrx_word" id="word_1_84" title="bbox 322 1522 324 1539; x_wconf 75">|</span>
<span class="ocrx_word" id="word_1_85" title="bbox 332 1523 421 1541; x_wconf 93">Bootstrap</span>
<span class="ocrx_word" id="word_1_86" title="bbox 428 1523 430 1537; x_wconf 87">|</span>
<span class="ocrx_word" id="word_1_87" title="bbox 438 1523 507 1541; x_wconf 91">Pygame</span>
</span>
</p>
</div>
<div class="ocr_carea" id="block_1_22" title="bbox 81 1559 326 1581">
<p class="ocr_par" id="par_1_22" lang="eng" title="bbox 81 1559 326 1581">
<span class="ocr_line" id="line_1_29" title="bbox 81 1559 326 1581; baseline 0 -5; x_size 22; x_descenders 5; x_ascenders 5">
<span class="ocrx_word" id="word_1_88" title="bbox 81 1565 90 1573; x_wconf 0">¢</span>
<span class="ocrx_word" id="word_1_89" title="bbox 106 1561 198 1581; x_wconf 92">AnyRent</span>
<span class="ocrx_word" id="word_1_90" title="bbox 204 1559 326 1581; x_wconf 95">Application</span>
</span>
</p>
</div>
<div class="ocr_carea" id="block_1_23" title="bbox 110 1598 515 1617">
<p class="ocr_par" id="par_1_23" lang="eng" title="bbox 110 1598 515 1617">
<span class="ocr_textfloat" id="line_1_30" title="bbox 110 1598 515 1617; baseline 0.002 -5; x_size 20; x_descenders 5; x_ascenders 5">
<span class="ocrx_word" id="word_1_91" title="bbox 110 1603 118 1611; x_wconf 74">©</span>
<span class="ocrx_word" id="word_1_92" title="bbox 136 1598 197 1617; x_wconf 65">Django</span>
<span class="ocrx_word" id="word_1_93" title="bbox 204 1598 206 1615; x_wconf 65">|</span>
<span class="ocrx_word" id="word_1_94" title="bbox 214 1594 282 1623; x_wconf 96">RESTful</span>
<span class="ocrx_word" id="word_1_95" title="bbox 287 1599 316 1613; x_wconf 86">API</span>
<span class="ocrx_word" id="word_1_96" title="bbox 324 1598 326 1615; x_wconf 86">|</span>
<span class="ocrx_word" id="word_1_97" title="bbox 334 1599 397 1617; x_wconf 18">MYSQL</span>
<span class="ocrx_word" id="word_1_98" title="bbox 404 1598 406 1615; x_wconf 18">|</span>
<span class="ocrx_word" id="word_1_99" title="bbox 414 1599 464 1613; x_wconf 94">HTML</span>
<span class="ocrx_word" id="word_1_100" title="bbox 472 1598 474 1615; x_wconf 95">|</span>
<span class="ocrx_word" id="word_1_101" title="bbox 481 1599 515 1613; x_wconf 87">CSS</span>
</span>
</p>
</div>
<div class="ocr_carea" id="block_1_24" title="bbox 100 1050 499 1071">
<p class="ocr_par" id="par_1_24" lang="eng" title="bbox 100 1050 499 1071">
<span class="ocr_textfloat" id="line_1_31" title="bbox 100 1050 499 1071; baseline 0 -5; x_size 21; x_descenders 5; x_ascenders 4">
<span class="ocrx_word" id="word_1_102" title="bbox 100 1050 147 1066; x_wconf 96">Data</span>
<span class="ocrx_word" id="word_1_103" title="bbox 154 1050 200 1066; x_wconf 96">Base</span>
<span class="ocrx_word" id="word_1_104" title="bbox 208 1050 339 1071; x_wconf 96">Management</span>
<span class="ocrx_word" id="word_1_105" title="bbox 345 1050 418 1071; x_wconf 92">System</span>
<span class="ocrx_word" id="word_1_106" title="bbox 425 1050 499 1066; x_wconf 91">-NPTEL</span>
</span>
</p>
</div>
<div class="ocr_carea" id="block_1_25" title="bbox 100 1133 546 1183">
<p class="ocr_par" id="par_1_25" lang="eng" title="bbox 100 1133 546 1183">
<span class="ocr_textfloat" id="line_1_32" title="bbox 100 1133 529 1155; baseline 0 -5; x_size 22; x_descenders 5; x_ascenders 5">
<span class="ocrx_word" id="word_1_107" title="bbox 100 1133 194 1150; x_wconf 96">Database</span>
<span class="ocrx_word" id="word_1_108" title="bbox 202 1133 337 1155; x_wconf 96">Programming</span>
<span class="ocrx_word" id="word_1_109" title="bbox 342 1133 385 1150; x_wconf 96">with</span>
<span class="ocrx_word" id="word_1_110" title="bbox 392 1134 432 1154; x_wconf 92">SQL</span>
<span class="ocrx_word" id="word_1_111" title="bbox 438 1134 529 1150; x_wconf 92">-ORACLE</span>
</span>
<span class="ocr_textfloat" id="line_1_33" title="bbox 100 1161 546 1183; baseline 0 -5; x_size 22; x_descenders 5; x_ascenders 5">
<span class="ocrx_word" id="word_1_112" title="bbox 100 1161 171 1183; x_wconf 96">Python</span>
<span class="ocrx_word" id="word_1_113" title="bbox 179 1161 315 1183; x_wconf 96">Programming</span>
<span class="ocrx_word" id="word_1_114" title="bbox 320 1161 350 1178; x_wconf 96">for</span>
<span class="ocrx_word" id="word_1_115" title="bbox 356 1161 456 1183; x_wconf 93">Beginners</span>
<span class="ocrx_word" id="word_1_116" title="bbox 462 1162 546 1178; x_wconf 92">-UDEMY</span>
</span>
</p>
</div>
<div class="ocr_carea" id="block_1_26" title="bbox 98 1274 515 1296">
<p class="ocr_par" id="par_1_26" lang="eng" title="bbox 98 1274 515 1296">
<span class="ocr_textfloat" id="line_1_34" title="bbox 98 1274 515 1296; baseline 0 -5; x_size 22; x_descenders 5; x_ascenders 5">
<span class="ocrx_word" id="word_1_117" title="bbox 98 1274 186 1291; x_wconf 96">Artificial</span>
<span class="ocrx_word" id="word_1_118" title="bbox 194 1274 312 1296; x_wconf 96">Intelligence</span>
<span class="ocrx_word" id="word_1_119" title="bbox 319 1274 462 1291; x_wconf 92">Fundamentals</span>
<span class="ocrx_word" id="word_1_120" title="bbox 469 1275 515 1291; x_wconf 91">-IBM</span>
</span>
</p>
</div>
<div class="ocr_carea" id="block_1_27" title="bbox 824 255 1241 314">
<p class="ocr_par" id="par_1_27" lang="eng" title="bbox 824 255 1241 314">
<span class="ocr_line" id="line_1_35" title="bbox 824 255 1241 314; baseline 0 1441; x_size 75; x_descenders 18.75; x_ascenders 18.75">
<span class="ocrx_word" id="word_1_121" title="bbox 824 255 1241 314; x_wconf 95"> </span>
</span>
</p>
</div>
<div class="ocr_carea" id="block_1_28" title="bbox 555 274 824 313">
<p class="ocr_par" id="par_1_28" lang="eng" title="bbox 555 274 824 313">
<span class="ocr_line" id="line_1_36" title="bbox 555 274 824 313; baseline 0 -13; x_size 31.351351; x_descenders 5.3513513; x_ascenders 8">
<span class="ocrx_word" id="word_1_122" title="bbox 555 278 664 300; x_wconf 96">Career</span>
<span class="ocrx_word" id="word_1_123" title="bbox 672 274 824 313; x_wconf 96">Objective</span>
</span>
</p>
</div>
<div class="ocr_carea" id="block_1_29" title="bbox 552 325 1184 426">
<p class="ocr_par" id="par_1_29" lang="eng" title="bbox 552 325 1184 426">
<span class="ocr_line" id="line_1_37" title="bbox 552 325 1182 348; baseline 0 -6; x_size 23; x_descenders 6; x_ascenders 5">
<span class="ocrx_word" id="word_1_124" title="bbox 552 327 577 342; x_wconf 96">To</span>
<span class="ocrx_word" id="word_1_125" title="bbox 585 325 653 342; x_wconf 96">obtain</span>
<span class="ocrx_word" id="word_1_126" title="bbox 662 330 675 342; x_wconf 95">a</span>
<span class="ocrx_word" id="word_1_127" title="bbox 683 325 810 348; x_wconf 96">challenging</span>
<span class="ocrx_word" id="word_1_128" title="bbox 818 325 904 348; x_wconf 96">position</span>
<span class="ocrx_word" id="word_1_129" title="bbox 912 325 931 342; x_wconf 96">in</span>
<span class="ocrx_word" id="word_1_130" title="bbox 939 326 974 342; x_wconf 96">the</span>
<span class="ocrx_word" id="word_1_131" title="bbox 982 327 999 342; x_wconf 96">IT</span>
<span class="ocrx_word" id="word_1_132" title="bbox 1007 325 1096 348; x_wconf 96">industry</span>
<span class="ocrx_word" id="word_1_133" title="bbox 1103 326 1170 342; x_wconf 96">where</span>
<span class="ocrx_word" id="word_1_134" title="bbox 1178 327 1182 342; x_wconf 90">|</span>
</span>
<span class="ocr_line" id="line_1_38" title="bbox 552 353 1184 376; baseline 0 -6; x_size 23; x_descenders 6; x_ascenders 5">
<span class="ocrx_word" id="word_1_135" title="bbox 552 358 591 370; x_wconf 96">can</span>
<span class="ocrx_word" id="word_1_136" title="bbox 598 353 662 370; x_wconf 96">utilize</span>
<span class="ocrx_word" id="word_1_137" title="bbox 668 358 702 376; x_wconf 96">my</span>
<span class="ocrx_word" id="word_1_138" title="bbox 708 353 807 370; x_wconf 96">technical</span>
<span class="ocrx_word" id="word_1_139" title="bbox 814 353 867 370; x_wconf 96">skills</span>
<span class="ocrx_word" id="word_1_140" title="bbox 874 354 915 370; x_wconf 96">and</span>
<span class="ocrx_word" id="word_1_141" title="bbox 921 354 1039 376; x_wconf 96">knowledge</span>
<span class="ocrx_word" id="word_1_142" title="bbox 1045 355 1065 370; x_wconf 96">to</span>
<span class="ocrx_word" id="word_1_143" title="bbox 1072 353 1184 370; x_wconf 96">contribute</span>
</span>
<span class="ocr_line" id="line_1_39" title="bbox 552 381 1183 404; baseline 0 -6; x_size 22; x_descenders 6; x_ascenders 4">
<span class="ocrx_word" id="word_1_144" title="bbox 552 383 573 398; x_wconf 95">to</span>
<span class="ocrx_word" id="word_1_145" title="bbox 584 382 619 398; x_wconf 96">the</span>
<span class="ocrx_word" id="word_1_146" title="bbox 629 386 715 398; x_wconf 95">success</span>
<span class="ocrx_word" id="word_1_147" title="bbox 726 381 747 398; x_wconf 96">of</span>
<span class="ocrx_word" id="word_1_148" title="bbox 757 382 791 398; x_wconf 96">the</span>
<span class="ocrx_word" id="word_1_149" title="bbox 802 386 905 404; x_wconf 96">company</span>
<span class="ocrx_word" id="word_1_150" title="bbox 916 382 957 398; x_wconf 96">and</span>
<span class="ocrx_word" id="word_1_151" title="bbox 968 381 1042 398; x_wconf 96">further</span>
<span class="ocrx_word" id="word_1_152" title="bbox 1052 382 1138 404; x_wconf 96">develop</span>
<span class="ocrx_word" id="word_1_153" title="bbox 1149 386 1183 404; x_wconf 96">my</span>
</span>
<span class="ocr_line" id="line_1_40" title="bbox 552 414 627 426; baseline 0 0; x_size 24.5; x_descenders 6.5; x_ascenders 5.5">
<span class="ocrx_word" id="word_1_154" title="bbox 552 414 627 426; x_wconf 96">career.</span>
</span>
</p>
</div>
<div class="ocr_carea" id="block_1_30" title="bbox 553 465 820 499">
<p class="ocr_par" id="par_1_30" lang="eng" title="bbox 553 465 820 499">
<span class="ocr_line" id="line_1_41" title="bbox 553 465 820 499; baseline 0 -8; x_size 34; x_descenders 8; x_ascenders 8">
<span class="ocrx_word" id="word_1_155" title="bbox 553 467 637 491; x_wconf 96">Work</span>
<span class="ocrx_word" id="word_1_156" title="bbox 646 465 820 499; x_wconf 96">Experience</span>
</span>
</p>
</div>
<div class="ocr_carea" id="block_1_31" title="bbox 554 519 1184 682">
<p class="ocr_par" id="par_1_31" lang="eng" title="bbox 554 519 1106 540">
<span class="ocr_line" id="line_1_42" title="bbox 554 519 1106 540; baseline 0 -5; x_size 20; x_descenders 5; x_ascenders 4">
<span class="ocrx_word" id="word_1_157" title="bbox 554 525 561 532; x_wconf 44">+</span>
<span class="ocrx_word" id="word_1_158" title="bbox 580 515 662 544; x_wconf 56">INMAKES</span>
<span class="ocrx_word" id="word_1_159" title="bbox 661 515 758 544; x_wconf 56">LEARNING</span>
<span class="ocrx_word" id="word_1_160" title="bbox 766 515 869 544; x_wconf 40">HUB,kochi-—</span>
<span class="ocrx_word" id="word_1_161" title="bbox 886 520 947 540; x_wconf 96">Python</span>
<span class="ocrx_word" id="word_1_162" title="bbox 955 520 1048 540; x_wconf 96">Developer</span>
<span class="ocrx_word" id="word_1_163" title="bbox 1055 521 1106 535; x_wconf 96">Intern</span>
</span>
</p>
<p class="ocr_par" id="par_1_32" lang="eng" title="bbox 582 541 860 555">
<span class="ocr_line" id="line_1_43" title="bbox 582 541 860 555; baseline 0 0; x_size 18.529411; x_descenders 4.5294118; x_ascenders 4.5294118">
<span class="ocrx_word" id="word_1_164" title="bbox 582 541 650 555; x_wconf 96">MARCH</span>
<span class="ocrx_word" id="word_1_165" title="bbox 655 541 699 555; x_wconf 93">2022</span>
<span class="ocrx_word" id="word_1_166" title="bbox 706 547 717 549; x_wconf 38">—</span>
<span class="ocrx_word" id="word_1_167" title="bbox 724 541 809 555; x_wconf 95">OCTOBER</span>
<span class="ocrx_word" id="word_1_168" title="bbox 815 541 860 555; x_wconf 95">2022</span>
</span>
</p>
<p class="ocr_par" id="par_1_33" lang="eng" title="bbox 587 560 1183 596">
<span class="ocr_line" id="line_1_44" title="bbox 587 560 1183 580; baseline 0.003 -7; x_size 20; x_descenders 5; x_ascenders 4">
<span class="ocrx_word" id="word_1_169" title="bbox 587 565 595 573; x_wconf 70">©</span>
<span class="ocrx_word" id="word_1_170" title="bbox 612 560 711 580; x_wconf 94">Experience</span>
<span class="ocrx_word" id="word_1_171" title="bbox 719 560 733 575; x_wconf 96">in</span>
<span class="ocrx_word" id="word_1_172" title="bbox 742 560 846 580; x_wconf 96">developing</span>
<span class="ocrx_word" id="word_1_173" title="bbox 853 560 892 575; x_wconf 96">web</span>
<span class="ocrx_word" id="word_1_174" title="bbox 900 560 1015 580; x_wconf 96">applications</span>
<span class="ocrx_word" id="word_1_175" title="bbox 1023 560 1072 580; x_wconf 96">using</span>
<span class="ocrx_word" id="word_1_176" title="bbox 1080 560 1109 575; x_wconf 96">the</span>
<span class="ocrx_word" id="word_1_177" title="bbox 1117 560 1183 580; x_wconf 95">Django</span>
</span>
<span class="ocr_line" id="line_1_45" title="bbox 612 581 711 596; baseline 0 0; x_size 20.26087; x_descenders 5.2608695; x_ascenders 4">
<span class="ocrx_word" id="word_1_178" title="bbox 612 581 711 596; x_wconf 80">framework</span>
</span>
</p>
<p class="ocr_par" id="par_1_34" lang="eng" title="bbox 586 601 1106 621">
<span class="ocr_line" id="line_1_46" title="bbox 586 601 1106 621; baseline 0.004 -7; x_size 20; x_descenders 5; x_ascenders 4">
<span class="ocrx_word" id="word_1_179" title="bbox 586 606 595 614; x_wconf 70">©</span>
<span class="ocrx_word" id="word_1_180" title="bbox 612 601 714 621; x_wconf 95">Knowledge</span>
<span class="ocrx_word" id="word_1_181" title="bbox 721 601 738 616; x_wconf 95">of</span>
<span class="ocrx_word" id="word_1_182" title="bbox 744 601 806 616; x_wconf 95">RESTful</span>
<span class="ocrx_word" id="word_1_183" title="bbox 814 602 839 616; x_wconf 94">API</span>
<span class="ocrx_word" id="word_1_184" title="bbox 847 601 907 621; x_wconf 96">design</span>
<span class="ocrx_word" id="word_1_185" title="bbox 915 601 951 616; x_wconf 96">and</span>
<span class="ocrx_word" id="word_1_186" title="bbox 958 601 1106 621; x_wconf 95">implementation</span>
</span>
</p>
<p class="ocr_par" id="par_1_35" lang="eng" title="bbox 587 621 1184 662">
<span class="ocr_line" id="line_1_47" title="bbox 587 621 1184 641; baseline 0.003 -7; x_size 20; x_descenders 5; x_ascenders 4">
<span class="ocrx_word" id="word_1_187" title="bbox 587 626 595 634; x_wconf 62">©</span>
<span class="ocrx_word" id="word_1_188" title="bbox 612 621 711 641; x_wconf 93">Experience</span>
<span class="ocrx_word" id="word_1_189" title="bbox 727 621 741 636; x_wconf 94">in</span>
<span class="ocrx_word" id="word_1_190" title="bbox 758 621 807 641; x_wconf 93">using</span>
<span class="ocrx_word" id="word_1_191" title="bbox 823 622 900 641; x_wconf 88">OpenCV</span>
<span class="ocrx_word" id="word_1_192" title="bbox 916 621 939 636; x_wconf 96">for</span>
<span class="ocrx_word" id="word_1_193" title="bbox 955 621 1014 641; x_wconf 96">image</span>
<span class="ocrx_word" id="word_1_194" title="bbox 1030 621 1132 641; x_wconf 96">processing</span>
<span class="ocrx_word" id="word_1_195" title="bbox 1148 621 1184 636; x_wconf 96">and</span>
</span>
<span class="ocr_line" id="line_1_48" title="bbox 612 642 805 662; baseline 0 -5; x_size 20; x_descenders 5; x_ascenders 4">
<span class="ocrx_word" id="word_1_196" title="bbox 612 643 702 662; x_wconf 96">computer</span>
<span class="ocrx_word" id="word_1_197" title="bbox 709 642 760 657; x_wconf 96">vision</span>
<span class="ocrx_word" id="word_1_198" title="bbox 768 642 805 657; x_wconf 96">task</span>
</span>
</p>
<p class="ocr_par" id="par_1_36" lang="eng" title="bbox 586 662 1107 682">
<span class="ocr_line" id="line_1_49" title="bbox 586 662 1107 682; baseline 0.004 -7; x_size 20; x_descenders 5; x_ascenders 4">
<span class="ocrx_word" id="word_1_199" title="bbox 586 667 595 675; x_wconf 47">©</span>
<span class="ocrx_word" id="word_1_200" title="bbox 612 662 703 677; x_wconf 94">Hands-on</span>
<span class="ocrx_word" id="word_1_201" title="bbox 711 662 813 682; x_wconf 96">experience</span>
<span class="ocrx_word" id="word_1_202" title="bbox 818 662 855 677; x_wconf 96">with</span>
<span class="ocrx_word" id="word_1_203" title="bbox 863 662 945 677; x_wconf 96">machine</span>
<span class="ocrx_word" id="word_1_204" title="bbox 952 662 1028 682; x_wconf 90">learning</span>
<span class="ocrx_word" id="word_1_205" title="bbox 1034 662 1107 677; x_wconf 90">libraries</span>
</span>
</p>
</div>
<div class="ocr_carea" id="block_1_32" title="bbox 554 701 1199 825">
<p class="ocr_par" id="par_1_37" lang="eng" title="bbox 554 701 1199 825">
<span class="ocr_line" id="line_1_50" title="bbox 554 701 948 724; baseline 0 -6; x_size 22; x_descenders 6; x_ascenders 4">
<span class="ocrx_word" id="word_1_206" title="bbox 554 707 562 715; x_wconf 60">*</span>
<span class="ocrx_word" id="word_1_207" title="bbox 579 701 760 718; x_wconf 91">AMACECreatives</span>
<span class="ocrx_word" id="word_1_208" title="bbox 767 709 782 711; x_wconf 92">—</span>
<span class="ocrx_word" id="word_1_209" title="bbox 789 702 836 718; x_wconf 96">Web</span>
<span class="ocrx_word" id="word_1_210" title="bbox 844 702 948 724; x_wconf 96">Developer</span>
</span>
<span class="ocr_line" id="line_1_51" title="bbox 579 725 790 739; baseline 0 0; x_size 19.299423; x_descenders 5.2994242; x_ascenders 3">
<span class="ocrx_word" id="word_1_211" title="bbox 579 725 646 739; x_wconf 96">MARCH</span>
<span class="ocrx_word" id="word_1_212" title="bbox 652 725 696 739; x_wconf 93">2022</span>
<span class="ocrx_word" id="word_1_213" title="bbox 703 731 714 733; x_wconf 40">—</span>
<span class="ocrx_word" id="word_1_214" title="bbox 720 725 790 739; x_wconf 96">Present</span>
</span>
<span class="ocr_line" id="line_1_52" title="bbox 583 744 1199 764; baseline 0.003 -7; x_size 20; x_descenders 5; x_ascenders 4">
<span class="ocrx_word" id="word_1_215" title="bbox 583 749 591 757; x_wconf 27">o</span>
<span class="ocrx_word" id="word_1_216" title="bbox 607 744 649 759; x_wconf 96">Web</span>
<span class="ocrx_word" id="word_1_217" title="bbox 669 744 762 764; x_wconf 95">developer</span>
<span class="ocrx_word" id="word_1_218" title="bbox 782 744 796 759; x_wconf 95">in</span>
<span class="ocrx_word" id="word_1_219" title="bbox 817 744 864 759; x_wconf 95">Amal</span>
<span class="ocrx_word" id="word_1_220" title="bbox 885 744 938 764; x_wconf 94">Jyothi</span>
<span class="ocrx_word" id="word_1_221" title="bbox 959 744 1030 764; x_wconf 94">College</span>
<span class="ocrx_word" id="word_1_222" title="bbox 1050 744 1067 759; x_wconf 96">of</span>
<span class="ocrx_word" id="word_1_223" title="bbox 1086 744 1199 764; x_wconf 96">Engineering,</span>
</span>
<span class="ocr_line" id="line_1_53" title="bbox 608 765 697 784; baseline 0 -5; x_size 19; x_descenders 5; x_ascenders 3">
<span class="ocrx_word" id="word_1_224" title="bbox 608 765 697 784; x_wconf 96">Kottayam</span>
</span>
<span class="ocr_line" id="line_1_54" title="bbox 583 785 1199 805; baseline 0 -5; x_size 20; x_descenders 5; x_ascenders 4">
<span class="ocrx_word" id="word_1_225" title="bbox 583 789 591 797; x_wconf 70">©</span>
<span class="ocrx_word" id="word_1_226" title="bbox 608 785 708 805; x_wconf 95">Experience</span>
<span class="ocrx_word" id="word_1_227" title="bbox 715 785 728 800; x_wconf 95">in</span>
<span class="ocrx_word" id="word_1_228" title="bbox 737 785 826 800; x_wconf 96">front-end</span>
<span class="ocrx_word" id="word_1_229" title="bbox 833 785 868 800; x_wconf 96">and</span>
<span class="ocrx_word" id="word_1_230" title="bbox 875 785 967 800; x_wconf 96">back-end</span>
<span class="ocrx_word" id="word_1_231" title="bbox 973 785 1012 800; x_wconf 96">web</span>
<span class="ocrx_word" id="word_1_232" title="bbox 1019 785 1143 805; x_wconf 96">development</span>
<span class="ocrx_word" id="word_1_233" title="bbox 1149 785 1199 805; x_wconf 96">using</span>
</span>
<span class="ocr_line" id="line_1_55" title="bbox 608 805 1097 825; baseline 0 -5; x_size 18; x_descenders 3; x_ascenders 4">
<span class="ocrx_word" id="word_1_234" title="bbox 608 805 728 825; x_wconf 96">technologies</span>
<span class="ocrx_word" id="word_1_235" title="bbox 735 805 777 820; x_wconf 96">such</span>
<span class="ocrx_word" id="word_1_236" title="bbox 785 809 806 820; x_wconf 96">as</span>
<span class="ocrx_word" id="word_1_237" title="bbox 812 806 862 823; x_wconf 96">HTML,</span>
<span class="ocrx_word" id="word_1_238" title="bbox 869 806 907 823; x_wconf 96">CSS,</span>
<span class="ocrx_word" id="word_1_239" title="bbox 914 805 1015 825; x_wconf 86">JavaScript,</span>
<span class="ocrx_word" id="word_1_240" title="bbox 1022 805 1058 820; x_wconf 96">and</span>
<span class="ocrx_word" id="word_1_241" title="bbox 1064 806 1097 820; x_wconf 85">PHP</span>
</span>
</p>
</div>
<div class="ocr_carea" id="block_1_33" title="bbox 562 891 927 926">
<p class="ocr_par" id="par_1_38" lang="eng" title="bbox 562 891 927 926">
<span class="ocr_line" id="line_1_56" title="bbox 562 891 927 926; baseline 0 -9; x_size 31.351351; x_descenders 5.3513513; x_ascenders 8">
<span class="ocrx_word" id="word_1_242" title="bbox 562 891 722 917; x_wconf 96">Education</span>
<span class="ocrx_word" id="word_1_243" title="bbox 732 893 927 926; x_wconf 96">Background</span>
</span>
</p>
</div>
<div class="ocr_carea" id="block_1_34" title="bbox 565 949 1061 1007">
<p class="ocr_par" id="par_1_39" lang="eng" title="bbox 565 949 1061 1007">
<span class="ocr_line" id="line_1_57" title="bbox 565 949 1004 964; baseline 0 0; x_size 20; x_descenders 5; x_ascenders 5">
<span class="ocrx_word" id="word_1_244" title="bbox 565 953 573 961; x_wconf 37">e¢</span>
<span class="ocrx_word" id="word_1_245" title="bbox 596 949 680 964; x_wconf 95">MASTER</span>
<span class="ocrx_word" id="word_1_246" title="bbox 686 949 713 964; x_wconf 95">OF</span>
<span class="ocrx_word" id="word_1_247" title="bbox 720 949 836 964; x_wconf 93">COMPUTER</span>
<span class="ocrx_word" id="word_1_248" title="bbox 841 949 1004 964; x_wconf 90">APPLICATION—</span>
</span>
<span class="ocr_line" id="line_1_58" title="bbox 598 971 1061 989; baseline 0 -4; x_size 20; x_descenders 5; x_ascenders 5">
<span class="ocrx_word" id="word_1_249" title="bbox 587 966 639 994; x_wconf 88">AMAL</span>
<span class="ocrx_word" id="word_1_250" title="bbox 643 966 712 994; x_wconf 88">JYOTHI</span>
<span class="ocrx_word" id="word_1_251" title="bbox 719 971 798 985; x_wconf 96">COLLEGE</span>
<span class="ocrx_word" id="word_1_252" title="bbox 804 971 828 985; x_wconf 96">OF</span>
<span class="ocrx_word" id="word_1_253" title="bbox 834 971 958 988; x_wconf 96">ENGINEERING,</span>
<span class="ocrx_word" id="word_1_254" title="bbox 967 971 1061 985; x_wconf 96">KOTTAYAM</span>
</span>
<span class="ocr_line" id="line_1_59" title="bbox 599 993 825 1007; baseline 0 0; x_size 20; x_descenders 5; x_ascenders 5">
<span class="ocrx_word" id="word_1_255" title="bbox 599 993 683 1007; x_wconf 96">OCTOBER</span>
<span class="ocrx_word" id="word_1_256" title="bbox 690 993 728 1007; x_wconf 93">2021</span>
<span class="ocrx_word" id="word_1_257" title="bbox 737 1001 741 1003; x_wconf 93">-</span>
<span class="ocrx_word" id="word_1_258" title="bbox 749 993 825 1007; x_wconf 96">PRESENT</span>
</span>
</p>
</div>
<div class="ocr_carea" id="block_1_35" title="bbox 565 1045 1120 1110">
<p class="ocr_par" id="par_1_40" lang="eng" title="bbox 565 1045 1120 1110">
<span class="ocr_line" id="line_1_60" title="bbox 565 1045 1120 1063; baseline 0 -3; x_size 20; x_descenders 5; x_ascenders 5">
<span class="ocrx_word" id="word_1_259" title="bbox 565 1049 573 1057; x_wconf 28">¢</span>
<span class="ocrx_word" id="word_1_260" title="bbox 590 1045 629 1060; x_wconf 95">BSC</span>
<span class="ocrx_word" id="word_1_261" title="bbox 635 1041 727 1069; x_wconf 89">PHYSICS,</span>
<span class="ocrx_word" id="word_1_262" title="bbox 736 1041 889 1069; x_wconf 89">MATHEMATICS,</span>
<span class="ocrx_word" id="word_1_263" title="bbox 894 1041 1002 1069; x_wconf 91">COMPUTER</span>
<span class="ocrx_word" id="word_1_264" title="bbox 1014 1045 1120 1060; x_wconf 90">SCIENCE—</span>
</span>
<span class="ocr_line" id="line_1_61" title="bbox 597 1071 1060 1088; baseline 0 -3; x_size 20; x_descenders 5; x_ascenders 5">
<span class="ocrx_word" id="word_1_265" title="bbox 597 1071 704 1085; x_wconf 90">St.ALOYSIUS</span>
<span class="ocrx_word" id="word_1_266" title="bbox 710 1071 939 1088; x_wconf 90">COLLEGE(AUTONOMOUS),</span>
<span class="ocrx_word" id="word_1_267" title="bbox 947 1071 1060 1085; x_wconf 92">MANGALORE</span>
</span>
<span class="ocr_line" id="line_1_62" title="bbox 594 1092 854 1110; baseline 0 -4; x_size 20; x_descenders 5; x_ascenders 5">
<span class="ocrx_word" id="word_1_268" title="bbox 594 1092 639 1110; x_wconf 96">JUNE</span>
<span class="ocrx_word" id="word_1_269" title="bbox 645 1092 686 1106; x_wconf 93">2017</span>
<span class="ocrx_word" id="word_1_270" title="bbox 693 1100 698 1102; x_wconf 93">-</span>
<span class="ocrx_word" id="word_1_271" title="bbox 704 1092 806 1106; x_wconf 96">SEPTEMBER</span>
<span class="ocrx_word" id="word_1_272" title="bbox 813 1092 854 1106; x_wconf 95">2020</span>
</span>
</p>
</div>
<div class="ocr_carea" id="block_1_36" title="bbox 562 1133 1031 1202">
<p class="ocr_par" id="par_1_41" lang="eng" title="bbox 562 1133 1031 1202">
<span class="ocr_line" id="line_1_63" title="bbox 562 1133 1031 1155; baseline 0.004 -7; x_size 19.852942; x_descenders 4.852941; x_ascenders 4.8529415">
<span class="ocrx_word" id="word_1_273" title="bbox 562 1139 570 1148; x_wconf 5">¢</span>
<span class="ocrx_word" id="word_1_274" title="bbox 588 1135 667 1150; x_wconf 91">HIGHER</span>
<span class="ocrx_word" id="word_1_275" title="bbox 674 1135 917 1155; x_wconf 91">SECONDARY(Computer</span>
<span class="ocrx_word" id="word_1_276" title="bbox 923 1133 1031 1153; x_wconf 89">Science)—</span>
</span>
<span class="ocr_line" id="line_1_64" title="bbox 590 1160 820 1178; baseline 0 -3; x_size 18; x_descenders 3; x_ascenders 4">
<span class="ocrx_word" id="word_1_277" title="bbox 590 1161 634 1175; x_wconf 82">GH.S</span>
<span class="ocrx_word" id="word_1_278" title="bbox 641 1160 707 1178; x_wconf 93">School,</span>
<span class="ocrx_word" id="word_1_279" title="bbox 713 1160 820 1175; x_wconf 92">Bandaduka</span>
</span>
<span class="ocr_line" id="line_1_65" title="bbox 588 1183 800 1202; baseline 0 -4; x_size 18.529411; x_descenders 4.5294118; x_ascenders 4.5294118">
<span class="ocrx_word" id="word_1_280" title="bbox 588 1184 633 1202; x_wconf 96">JUNE</span>
<span class="ocrx_word" id="word_1_281" title="bbox 639 1184 681 1198; x_wconf 88">2015</span>
<span class="ocrx_word" id="word_1_282" title="bbox 687 1192 692 1194; x_wconf 88">-</span>
<span class="ocrx_word" id="word_1_283" title="bbox 699 1183 751 1198; x_wconf 96">March</span>
<span class="ocrx_word" id="word_1_284" title="bbox 758 1184 800 1198; x_wconf 96">2017</span>
</span>
</p>
</div>
<div class="ocr_carea" id="block_1_37" title="bbox 562 1251 794 1277">
<p class="ocr_par" id="par_1_42" lang="eng" title="bbox 562 1251 794 1277">
<span class="ocr_line" id="line_1_66" title="bbox 562 1251 794 1277; baseline 0 0; x_size 31.351351; x_descenders 5.3513513; x_ascenders 8">
<span class="ocrx_word" id="word_1_285" title="bbox 562 1251 794 1277; x_wconf 96">Achievements</span>
</span>
</p>
</div>
<div class="ocr_carea" id="block_1_38" title="bbox 571 1311 1160 1428">
<p class="ocr_par" id="par_1_43" lang="eng" title="bbox 571 1311 1160 1428">
<span class="ocr_line" id="line_1_67" title="bbox 571 1311 903 1328; baseline 0 0; x_size 21.744808; x_descenders 5.7448072; x_ascenders 4">
<span class="ocrx_word" id="word_1_286" title="bbox 571 1317 579 1325; x_wconf 53">*</span>
<span class="ocrx_word" id="word_1_287" title="bbox 597 1311 706 1328; x_wconf 90">Pineothon</span>
<span class="ocrx_word" id="word_1_288" title="bbox 713 1321 722 1324; x_wconf 91">-</span>
<span class="ocrx_word" id="word_1_289" title="bbox 728 1312 839 1328; x_wconf 92">Hackathon</span>
<span class="ocrx_word" id="word_1_290" title="bbox 845 1313 903 1328; x_wconf 96">Event</span>
</span>
<span class="ocr_line" id="line_1_68" title="bbox 597 1334 987 1354; baseline 0 -5; x_size 20; x_descenders 5; x_ascenders 5">
<span class="ocrx_word" id="word_1_291" title="bbox 597 1334 650 1349; x_wconf 86">Issued</span>
<span class="ocrx_word" id="word_1_292" title="bbox 658 1334 678 1354; x_wconf 93">by</span>
<span class="ocrx_word" id="word_1_293" title="bbox 684 1335 711 1353; x_wconf 64">UVJ</span>
<span class="ocrx_word" id="word_1_294" title="bbox 717 1334 831 1354; x_wconf 96">Technologies</span>
<span class="ocrx_word" id="word_1_295" title="bbox 839 1335 864 1349; x_wconf 96">Pvt</span>
<span class="ocrx_word" id="word_1_296" title="bbox 871 1334 895 1349; x_wconf 93">Ltd</span>
<span class="ocrx_word" id="word_1_297" title="bbox 903 1341 906 1344; x_wconf 65">-</span>
<span class="ocrx_word" id="word_1_298" title="bbox 910 1335 938 1353; x_wconf 96">Jun</span>
<span class="ocrx_word" id="word_1_299" title="bbox 946 1335 987 1349; x_wconf 96">2022</span>
</span>
<span class="ocr_line" id="line_1_69" title="bbox 597 1360 1160 1381; baseline 0 -5; x_size 20; x_descenders 5; x_ascenders 4">
<span class="ocrx_word" id="word_1_300" title="bbox 597 1366 603 1373; x_wconf 51">*</span>
<span class="ocrx_word" id="word_1_301" title="bbox 621 1362 650 1376; x_wconf 30">We</span>
<span class="ocrx_word" id="word_1_302" title="bbox 657 1361 736 1376; x_wconf 30">received</span>
<span class="ocrx_word" id="word_1_303" title="bbox 743 1361 808 1381; x_wconf 96">special</span>
<span class="ocrx_word" id="word_1_304" title="bbox 815 1361 919 1381; x_wconf 96">recognition</span>
<span class="ocrx_word" id="word_1_305" title="bbox 927 1361 950 1376; x_wconf 96">for</span>
<span class="ocrx_word" id="word_1_306" title="bbox 957 1361 1057 1381; x_wconf 96">presenting</span>
<span class="ocrx_word" id="word_1_307" title="bbox 1063 1365 1092 1376; x_wconf 92">our</span>
<span class="ocrx_word" id="word_1_308" title="bbox 1099 1360 1160 1376; x_wconf 59">‘Vcare’</span>
</span>
<span class="ocr_line" id="line_1_70" title="bbox 622 1384 1158 1404; baseline 0 -5; x_size 20; x_descenders 5; x_ascenders 4">
<span class="ocrx_word" id="word_1_309" title="bbox 622 1384 690 1404; x_wconf 93">project,</span>
<span class="ocrx_word" id="word_1_310" title="bbox 697 1384 766 1404; x_wconf 93">utilizing</span>
<span class="ocrx_word" id="word_1_311" title="bbox 772 1384 801 1399; x_wconf 96">the</span>
<span class="ocrx_word" id="word_1_312" title="bbox 808 1384 874 1404; x_wconf 95">Django</span>
<span class="ocrx_word" id="word_1_313" title="bbox 880 1384 983 1399; x_wconf 96">Framework</span>
<span class="ocrx_word" id="word_1_314" title="bbox 989 1384 1025 1399; x_wconf 96">and</span>
<span class="ocrx_word" id="word_1_315" title="bbox 1032 1384 1158 1404; x_wconf 96">incorporating</span>
</span>
<span class="ocr_line" id="line_1_71" title="bbox 622 1408 900 1428; baseline 0 -5; x_size 20; x_descenders 5; x_ascenders 4">
<span class="ocrx_word" id="word_1_316" title="bbox 622 1408 704 1423; x_wconf 95">machine</span>
<span class="ocrx_word" id="word_1_317" title="bbox 711 1408 786 1428; x_wconf 96">learning</span>
<span class="ocrx_word" id="word_1_318" title="bbox 793 1408 900 1428; x_wconf 95">techniques.</span>
</span>
</p>
</div>
<div class="ocr_carea" id="block_1_39" title="bbox 571 1448 1093 1542">
<p class="ocr_par" id="par_1_44" lang="eng" title="bbox 571 1448 1093 1542">
<span class="ocr_line" id="line_1_72" title="bbox 571 1448 935 1470; baseline 0 -5; x_size 21; x_descenders 5; x_ascenders 4">
<span class="ocrx_word" id="word_1_319" title="bbox 571 1454 579 1462; x_wconf 58">©</span>
<span class="ocrx_word" id="word_1_320" title="bbox 597 1448 742 1470; x_wconf 91">Euphoria2k22</span>
<span class="ocrx_word" id="word_1_321" title="bbox 747 1458 753 1461; x_wconf 91">-</span>
<span class="ocrx_word" id="word_1_322" title="bbox 759 1449 870 1465; x_wconf 91">Hackathon</span>
<span class="ocrx_word" id="word_1_323" title="bbox 876 1450 935 1465; x_wconf 94">Event</span>
</span>
<span class="ocr_line" id="line_1_73" title="bbox 596 1473 1061 1493; baseline 0 -5; x_size 20; x_descenders 5; x_ascenders 5">
<span class="ocrx_word" id="word_1_324" title="bbox 596 1473 684 1493; x_wconf 96">Organised</span>
<span class="ocrx_word" id="word_1_325" title="bbox 691 1473 712 1493; x_wconf 93">by</span>
<span class="ocrx_word" id="word_1_326" title="bbox 718 1474 779 1493; x_wconf 91">Rajagiri</span>
<span class="ocrx_word" id="word_1_327" title="bbox 787 1473 965 1493; x_wconf 84">College,Kalamassery</span>
<span class="ocrx_word" id="word_1_328" title="bbox 971 1482 976 1484; x_wconf 92">-</span>
<span class="ocrx_word" id="word_1_329" title="bbox 981 1474 1014 1493; x_wconf 96">Aug</span>
<span class="ocrx_word" id="word_1_330" title="bbox 1020 1474 1061 1488; x_wconf 96">2022</span>
</span>
<span class="ocr_line" id="line_1_74" title="bbox 597 1497 1090 1517; baseline 0 -5; x_size 20; x_descenders 5; x_ascenders 4">
<span class="ocrx_word" id="word_1_331" title="bbox 597 1503 604 1509; x_wconf 69">*</span>
<span class="ocrx_word" id="word_1_332" title="bbox 622 1501 648 1512; x_wconf 95">we</span>
<span class="ocrx_word" id="word_1_333" title="bbox 655 1497 749 1517; x_wconf 95">presented</span>
<span class="ocrx_word" id="word_1_334" title="bbox 756 1501 785 1512; x_wconf 96">our</span>
<span class="ocrx_word" id="word_1_335" title="bbox 792 1498 869 1517; x_wconf 96">concept</span>
<span class="ocrx_word" id="word_1_336" title="bbox 875 1497 892 1512; x_wconf 96">of</span>
<span class="ocrx_word" id="word_1_337" title="bbox 898 1497 967 1517; x_wconf 81">utilizing</span>
<span class="ocrx_word" id="word_1_338" title="bbox 973 1498 999 1512; x_wconf 77">loT</span>
<span class="ocrx_word" id="word_1_339" title="bbox 1005 1497 1028 1512; x_wconf 96">for</span>
<span class="ocrx_word" id="word_1_340" title="bbox 1034 1498 1090 1512; x_wconf 96">waste</span>
</span>
<span class="ocr_line" id="line_1_75" title="bbox 623 1522 1093 1542; baseline 0 -5; x_size 20; x_descenders 5; x_ascenders 4">
<span class="ocrx_word" id="word_1_341" title="bbox 623 1523 753 1542; x_wconf 96">management</span>
<span class="ocrx_word" id="word_1_342" title="bbox 759 1523 777 1537; x_wconf 96">at</span>
<span class="ocrx_word" id="word_1_343" title="bbox 783 1526 794 1537; x_wconf 92">a</span>
<span class="ocrx_word" id="word_1_344" title="bbox 801 1522 876 1537; x_wconf 92">national</span>
<span class="ocrx_word" id="word_1_345" title="bbox 883 1522 924 1537; x_wconf 92">level</span>
<span class="ocrx_word" id="word_1_346" title="bbox 931 1522 1031 1537; x_wconf 92">Hackathon</span>
<span class="ocrx_word" id="word_1_347" title="bbox 1039 1523 1093 1537; x_wconf 96">event.</span>
</span>
</p>
</div>
<div class="ocr_carea" id="block_1_40" title="bbox 569 1569 1169 1666">
<p class="ocr_par" id="par_1_45" lang="eng" title="bbox 569 1569 1169 1666">
<span class="ocr_line" id="line_1_76" title="bbox 569 1569 856 1591; baseline 0 -5; x_size 22; x_descenders 5; x_ascenders 5">
<span class="ocrx_word" id="word_1_348" title="bbox 569 1575 577 1583; x_wconf 44">¢</span>
<span class="ocrx_word" id="word_1_349" title="bbox 594 1570 655 1586; x_wconf 95">Crack</span>
<span class="ocrx_word" id="word_1_350" title="bbox 660 1570 698 1586; x_wconf 95">The</span>
<span class="ocrx_word" id="word_1_351" title="bbox 705 1569 736 1586; x_wconf 90">Git</span>
<span class="ocrx_word" id="word_1_352" title="bbox 742 1579 748 1582; x_wconf 90">-</span>
<span class="ocrx_word" id="word_1_353" title="bbox 755 1570 856 1591; x_wconf 96">Workshop</span>
</span>
<span class="ocr_line" id="line_1_77" title="bbox 596 1597 1084 1617; baseline 0 -5; x_size 20; x_descenders 5; x_ascenders 5">
<span class="ocrx_word" id="word_1_354" title="bbox 596 1597 684 1617; x_wconf 96">Organised</span>
<span class="ocrx_word" id="word_1_355" title="bbox 691 1597 712 1617; x_wconf 97">by</span>
<span class="ocrx_word" id="word_1_356" title="bbox 716 1597 774 1617; x_wconf 97">google</span>
<span class="ocrx_word" id="word_1_357" title="bbox 781 1597 870 1617; x_wconf 96">Developer</span>
<span class="ocrx_word" id="word_1_358" title="bbox 875 1597 951 1612; x_wconf 93">Students</span>
<span class="ocrx_word" id="word_1_359" title="bbox 958 1597 1002 1612; x_wconf 92">Club-</span>
<span class="ocrx_word" id="word_1_360" title="bbox 1008 1598 1037 1612; x_wconf 96">Oct</span>
<span class="ocrx_word" id="word_1_361" title="bbox 1043 1598 1084 1612; x_wconf 96">2022</span>
</span>
<span class="ocr_line" id="line_1_78" title="bbox 603 1621 1169 1641; baseline 0 -5; x_size 20; x_descenders 5; x_ascenders 4">
<span class="ocrx_word" id="word_1_362" title="bbox 603 1627 609 1633; x_wconf 31">*</span>
<span class="ocrx_word" id="word_1_363" title="bbox 628 1621 695 1636; x_wconf 68">Gained</span>
<span class="ocrx_word" id="word_1_364" title="bbox 701 1621 792 1636; x_wconf 68">hands-on</span>
<span class="ocrx_word" id="word_1_365" title="bbox 800 1621 901 1641; x_wconf 95">experience</span>
<span class="ocrx_word" id="word_1_366" title="bbox 908 1621 922 1636; x_wconf 96">in</span>
<span class="ocrx_word" id="word_1_367" title="bbox 921 1617 955 1645; x_wconf 96">Git</span>
<span class="ocrx_word" id="word_1_368" title="bbox 960 1617 1025 1645; x_wconf 96">version</span>
<span class="ocrx_word" id="word_1_369" title="bbox 1033 1621 1097 1636; x_wconf 96">control</span>
<span class="ocrx_word" id="word_1_370" title="bbox 1104 1622 1169 1641; x_wconf 96">system</span>
</span>
<span class="ocr_line" id="line_1_79" title="bbox 628 1646 870 1666; baseline 0 -5; x_size 20; x_descenders 5; x_ascenders 4">
<span class="ocrx_word" id="word_1_371" title="bbox 628 1646 690 1661; x_wconf 90">andits</span>
<span class="ocrx_word" id="word_1_372" title="bbox 696 1646 763 1661; x_wconf 97">various</span>
<span class="ocrx_word" id="word_1_373" title="bbox 770 1646 870 1666; x_wconf 96">operations</span>
</span>
</p>
</div>
</div>
</body>
</html>
