{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="banner_slider owl-carousel">
                        <div class="single_banner_slider">
                            <div class="row">
                                <div class="col-lg-5 col-md-8">
                                    <div class="banner_text">
                                        <div class="banner_text_iner">
<!--                                          <h1>Wood & Cloth-->
<!--                                                Sofa</h1>  -->
                                            <p>Incididunt ut labore et dolore magna aliqua quis ipsum
                                                suspendisse ultrices gravida. Risus commodo viverra</p>
                                            <a href="{% url 'shop_app:allProdCat' %}" class="btn_2">buy now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="banner_img d-none d-lg-block">
                                    <img src="{% static 'img/banner_img5.jpg' %}" alt="">
                                </div>
                            </div>
                        </div><div class="single_banner_slider">
                            <div class="row">
                                <div class="col-lg-5 col-md-8">
                                    <div class="banner_text">
                                        <div class="banner_text_iner">
<!--                                            <h1>Cloth & Wood-->
<!--                                                Sofa</h1>-->
                                            <p>Incididunt ut labore et dolore magna aliqua quis ipsum
                                                suspendisse ultrices gravida. Risus commodo viverra</p>
                                            <a href="#" class="btn_2">buy now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="banner_img d-none d-lg-block">
                                    <img src="{% static 'img/banner6.jpg' %}" alt="">
                                </div>
                            </div>
                        </div><div class="single_banner_slider">
                            <div class="row">
                                <div class="col-lg-5 col-md-8">
                                    <div class="banner_text">
                                        <div class="banner_text_iner">
                                            <h1>Sanitary Ware</h1>
                                            <p>A wonderful sanitaryware collection</p>
                                            <a href="{% url 'shop_app:allProdCat' %}" class="btn_2">buy now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="banner_img d-none d-lg-block">
                                    <img src="{% static 'img/banner4.jpg' %}" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- <div class="single_banner_slider">
                            <div class="row">
                                <div class="col-lg-5 col-md-8">
                                    <div class="banner_text">
                                        <div class="banner_text_iner">
                                            <h1>Cloth $ Wood Sofa</h1>
                                            <p>Incididunt ut labore et dolore magna aliqua quis ipsum
                                                suspendisse ultrices gravida. Risus commodo viverra</p>
                                            <a href="#" class="btn_2">buy now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="banner_img d-none d-lg-block">
                                    <img src="img/banner_img.png" alt="">
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div class="slider-counter"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->

    <!-- feature_part start-->
    <section class="feature_part padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section_tittle text-center">
                        <h2>Featured Category</h2>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-7 col-sm-6">
                    <div class="single_feature_post_text">
                        <p>Premium Quality</p>
                        <h3>Latest foam Sofa</h3>
                        <a href="#" class="feature_btn">EXPLORE NOW <i class="fas fa-play"></i></a>
                        <img src="{% static 'img/feature/feature_1.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-5 col-sm-6">
                    <div class="single_feature_post_text">
                        <p>Premium Quality</p>
                        <h3>Latest foam Sofa</h3>
                        <a href="#" class="feature_btn">EXPLORE NOW <i class="fas fa-play"></i></a>
                        <img src="{% static 'img/feature/feature_2.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-5 col-sm-6">
                    <div class="single_feature_post_text">
                        <p>Premium Quality</p>
                        <h3>Latest foam Sofa</h3>
                        <a href="#" class="feature_btn">EXPLORE NOW <i class="fas fa-play"></i></a>
                        <img src="{% static 'img/feature/feature_3.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-7 col-sm-6">
                    <div class="single_feature_post_text">
                        <p>Premium Quality</p>
                        <h3>Latest foam Sofa</h3>
                        <a href="#" class="feature_btn">EXPLORE NOW <i class="fas fa-play"></i></a>
                        <img src="{% static 'img/feature/feature_4.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- upcoming_event part start-->

    <!-- product_list start-->
    <section class="product_list section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="section_tittle text-center">
                        <h2>awesome <span>shop</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="product_list_slider owl-carousel">
                        <div class="single_product_list_slider">
                            <div class="row align-items-center justify-content-between">
                                {% for product in products.object_list %}
                                <div class="col-lg-3 col-sm-6">
                                    <div class="single_product_item">
                                        <img src="{{product.image.url}}" alt="{{product.name}}">
                                        <div class="single_product_text">
                                            <h4>{{product.name}}</h4>
                                            <h3>{{product.price}}</h3>
                                            <a href="#" class="add_cart">+ add to cart<i class="ti-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
<!--                                <div class="col-lg-3 col-sm-6">-->
<!--                                    <div class="single_product_item">-->
<!--                                        <img src="{% static 'img/product/product_2.png' %}" alt="">-->
<!--                                        <div class="single_product_text">-->
<!--                                            <h4>Quartz Belt Watch</h4>-->
<!--                                            <h3>$150.00</h3>-->
<!--                                            <a href="#" class="add_cart">+ add to cart<i class="ti-heart"></i></a>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-lg-3 col-sm-6">-->
<!--                                    <div class="single_product_item">-->
<!--                                        <img src="{% static 'img/product/product_3.png' %}" alt="">-->
<!--                                        <div class="single_product_text">-->
<!--                                            <h4>Quartz Belt Watch</h4>-->
<!--                                            <h3>$150.00</h3>-->
<!--                                            <a href="#" class="add_cart">+ add to cart<i class="ti-heart"></i></a>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-lg-3 col-sm-6">-->
<!--                                    <div class="single_product_item">-->
<!--                                        <img src="{% static 'img/product/product_4.png' %}" alt="">-->
<!--                                        <div class="single_product_text">-->
<!--                                            <h4>Quartz Belt Watch</h4>-->
<!--                                            <h3>$150.00</h3>-->
<!--                                            <a href="#" class="add_cart">+ add to cart<i class="ti-heart"></i></a>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-lg-3 col-sm-6">-->
<!--                                    <div class="single_product_item">-->
<!--                                        <img src="{% static 'img/product/product_5.png' %}" alt="">-->
<!--                                        <div class="single_product_text">-->
<!--                                            <h4>Quartz Belt Watch</h4>-->
<!--                                            <h3>$150.00</h3>-->
<!--                                            <a href="#" class="add_cart">+ add to cart<i class="ti-heart"></i></a>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-lg-3 col-sm-6">-->
<!--                                    <div class="single_product_item">-->
<!--                                        <img src="{% static 'img/product/product_6.png' %}" alt="">-->
<!--                                        <div class="single_product_text">-->
<!--                                            <h4>Quartz Belt Watch</h4>-->
<!--                                            <h3>$150.00</h3>-->
<!--                                            <a href="#" class="add_cart">+ add to cart<i class="ti-heart"></i></a>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-lg-3 col-sm-6">-->
<!--                                    <div class="single_product_item">-->
<!--                                        <img src="{% static 'img/product/product_7.png' %}" alt="">-->
<!--                                        <div class="single_product_text">-->
<!--                                            <h4>Quartz Belt Watch</h4>-->
<!--                                            <h3>$150.00</h3>-->
<!--                                            <a href="#" class="add_cart">+ add to cart<i class="ti-heart"></i></a>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-lg-3 col-sm-6">-->
<!--                                    <div class="single_product_item">-->
<!--                                        <img src="{% static 'img/product/product_8.png' %}" alt="">-->
<!--                                        <div class="single_product_text">-->
<!--                                            <h4>Quartz Belt Watch</h4>-->
<!--                                            <h3>$150.00</h3>-->
<!--                                            <a href="#" class="add_cart">+ add to cart<i class="ti-heart"></i></a>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
                            </div>
                        </div>
                        <div class="single_product_list_slider">
                            <div class="row align-items-center justify-content-between">
                                <div class="col-lg-3 col-sm-6">
                                    <div class="single_product_item">
                                        <img src="{% static 'img/product/product_1.png' %}" alt="">
                                        <div class="single_product_text">
                                            <h4>Quartz Belt Watch</h4>
                                            <h3>$150.00</h3>
                                            <a href="#" class="add_cart">+ add to cart<i class="ti-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="single_product_item">
                                        <img src="{% static 'img/product/product_2.png' %}" alt="">
                                        <div class="single_product_text">
                                            <h4>Quartz Belt Watch</h4>
                                            <h3>$150.00</h3>
                                            <a href="#" class="add_cart">+ add to cart<i class="ti-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="single_product_item">
                                        <img src="{% static 'img/product/product_3.png' %}" alt="">
                                        <div class="single_product_text">
                                            <h4>Quartz Belt Watch</h4>
                                            <h3>$150.00</h3>
                                            <a href="#" class="add_cart">+ add to cart<i class="ti-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="single_product_item">
                                        <img src="{% static 'img/product/product_4.png' %}" alt="">
                                        <div class="single_product_text">
                                            <h4>Quartz Belt Watch</h4>
                                            <h3>$150.00</h3>
                                            <a href="#" class="add_cart">+ add to cart<i class="ti-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="single_product_item">
                                        <img src="{% static 'img/product/product_5.png' %}" alt="">
                                        <div class="single_product_text">
                                            <h4>Quartz Belt Watch</h4>
                                            <h3>$150.00</h3>
                                            <a href="#" class="add_cart">+ add to cart<i class="ti-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="single_product_item">
                                        <img src="{% static 'img/product/product_6.png' %}" alt="">
                                        <div class="single_product_text">
                                            <h4>Quartz Belt Watch</h4>
                                            <h3>$150.00</h3>
                                            <a href="#" class="add_cart">+ add to cart<i class="ti-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="single_product_item">
                                        <img src="{% static 'img/product/product_7.png' %}" alt="">
                                        <div class="single_product_text">
                                            <h4>Quartz Belt Watch</h4>
                                            <h3>$150.00</h3>
                                            <a href="#" class="add_cart">+ add to cart<i class="ti-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="single_product_item">
                                        <img src="{% static 'img/product/product_8.png' %}" alt="">
                                        <div class="single_product_text">
                                            <h4>Quartz Belt Watch</h4>
                                            <h3>$150.00</h3>
                                            <a href="#" class="add_cart">+ add to cart<i class="ti-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product_list part start-->

    <!-- awesome_shop start-->
    <section class="our_offer section_padding">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6 col-md-6">
                    <div class="offer_img">
                        <img src="{% static 'img/offer_img.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="offer_text">
                        <h2>Weekly Sale on
                            60% Off All Products</h2>
                        <div class="date_countdown">
                            <div id="timer">
                                <div id="days" class="date"></div>
                                <div id="hours" class="date"></div>
                                <div id="minutes" class="date"></div>
                                <div id="seconds" class="date"></div>
                            </div>
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="enter email address"
                                aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <a href="#" class="input-group-text btn_2" id="basic-addon2">book now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- awesome_shop part start-->

    <!-- product_list part start-->
    <section class="product_list best_seller section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="section_tittle text-center">
                        <h2>Best Sellers <span>shop</span></h2>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-12">
                    <div class="best_product_slider owl-carousel">
                        <div class="single_product_item">
                            <img src="{% static 'img/product/product_1.png' %}" alt="">
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div>
                        <div class="single_product_item">
                            <img src="{% static 'img/product/product_2.png' %}" alt="">
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div>
                        <div class="single_product_item">
                            <img src="{% static 'img/product/product_3.png' %}" alt="">
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div>
                        <div class="single_product_item">
                            <img src="{% static 'img/product/product_4.png' %}" alt="">
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div>
                        <div class="single_product_item">
                            <img src="{% static 'img/product/product_5.png' %}" alt="">
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product_list part end-->

    <!-- subscribe_area part start-->
    <section class="subscribe_area section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="subscribe_area_text text-center">
                        <h5>Join Our Newsletter</h5>
                        <h2>Subscribe to get Updated
                            with new offers</h2>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="enter email address"
                                aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <a href="#" class="input-group-text btn_2" id="basic-addon22">subscribe now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--::subscribe_area part end::-->

    <!-- subscribe_area part start-->
    <section class="client_logo padding_top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="single_client_logo">
                        <img src="{% static 'img/client_logo/client_logo_1.png' %}" alt="">
                    </div>
                    <div class="single_client_logo">
                        <img src="{% static 'img/client_logo/client_logo_2.png' %}" alt="">
                    </div>
                    <div class="single_client_logo">
                        <img src="{% static 'img/client_logo/client_logo_3.png' %}" alt="">
                    </div>
                    <div class="single_client_logo">
                        <img src="{% static 'img/client_logo/client_logo_4.png' %}" alt="">
                    </div>
                    <div class="single_client_logo">
                        <img src="{% static 'img/client_logo/client_logo_5.png' %}" alt="">
                    </div>
                    <div class="single_client_logo">
                        <img src="{% static 'img/client_logo/client_logo_3.png' %}" alt="">
                    </div>
                    <div class="single_client_logo">
                        <img src="{% static 'img/client_logo/client_logo_1.png' %}" alt="">
                    </div>
                    <div class="single_client_logo">
                        <img src="{% static 'img/client_logo/client_logo_2.png' %}" alt="">
                    </div>
                    <div class="single_client_logo">
                        <img src="{% static 'img/client_logo/client_logo_3.png' %}" alt="">
                    </div>
                    <div class="single_client_logo">
                        <img src="{% static 'img/client_logo/client_logo_4.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--::subscribe_area part end::-->


{% endblock %}