{% extends 'base.html' %}
{% load static %}
{% block content %}

        <!--====== App Content ======-->
        <div class="app-content">


            <!--====== Section 1 ======-->
            <div class="u-s-p-y-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="#">Home</a></li>
                                    <li class="is-marked">

                                        <a href="#">Signin</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--====== End - Section 1 ======-->


            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Intro ======-->
                <div class="section__intro u-s-m-b-60">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section__text-wrap">
<!--                                    <h1 class="section__heading u-c-secondary">ALREADY REGISTERED?</h1>-->
                                                {% include 'alerts.html' %}

              <script>
                  setTimeout(function(){
                    if ($('#message').length > 0){
                      $('#message').remove();
                      }
                    },4000)

              </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Intro ======-->


                <!--====== Section Content ======-->
                  {% if request.GET.command == 'verification' %}

    <div class="container mx-auto alert alert-info text-center" role="alert"
        style="max-width: 1020px; margin-top:100px;">
        Thank You For Registering With Us. We Have Send Email Verifications To Your Email Address
        [{{request.GET.email}}].
        Please Verify'
        <br><br>
        Already Verify? <a href="{% url 'login' %}">Login</a>


    </div>

    {% else %}
                <div class="section__content">
                    <div class="container">
                        <div class="row row--center">
                            <div class="col-lg-6 col-md-8 u-s-m-b-30">
                                <div class="l-f-o">
                                    <div class="l-f-o__pad-box">
                                        <h1 class="gl-h1">I'M NEW CUSTOMER</h1>

                                        <span class="gl-text u-s-m-b-30">By creating an account with our store, you will be able to move through the checkout process faster, store shipping addresses, view and track your orders in your account and more.</span>
                                        <div class="u-s-m-b-15">

                                            <a class="l-f-o__create-link btn--e-transparent-brand-b-2" href="{% url 'register' %}">CREATE AN ACCOUNT</a></div>
                                        <h1 class="gl-h1">SIGNIN</h1>

                                        <span class="gl-text u-s-m-b-30">If you have an account with us, please log in.</span>
                                        <form class="l-f-o__form" action="{% url 'login' %}" method="post">
                                            {% csrf_token %}
<!--                                            <div class="gl-s-api">-->
<!--                                                <div class="u-s-m-b-15">-->

<!--                                                    <button class="gl-s-api_btn gl-s-api_btn&#45;&#45;fb" type="button"><i class="fab fa-facebook-f"></i>-->

<!--                                                        <span>Signin with Facebook</span></button></div>-->
<!--                                                <div class="u-s-m-b-15">-->

<!--                                                    <button class="gl-s-api_btn gl-s-api_btn&#45;&#45;gplus" type="button"><i class="fab fa-google"></i>-->

<!--                                                        <span>Signin with Google</span></button></div>-->
<!--                                            </div>-->
                                            <div class="u-s-m-b-30">

                                                <label class="gl-label" for="email">E-MAIL *</label>

                                                <input class="input-text input-text--primary-style" type="text" name="email" id="email" placeholder="Enter E-mail"></div>
                                            <div class="u-s-m-b-30">

                                                <label class="gl-label" for="password">PASSWORD *</label>

                                                <input class="input-text input-text--primary-style" type="password" name="password" id="password" placeholder="Enter Password"></div>
                                            <div class="gl-inline">
                                                <div class="u-s-m-b-30">

                                                    <button class="btn btn--e-transparent-brand-b-2" type="submit">LOGIN</button></div>
                                                <div class="u-s-m-b-30">

                                                    <a class="gl-link" href="{% url 'forgotPassword' %}">Lost Your Password?</a></div>
                                            </div>
                                            <div class="u-s-m-b-30">

                                                <!--====== Check Box ======-->
                                                <div class="check-box">

                                                    <input type="checkbox" id="remember-me">
                                                    <div class="check-box_state check-box_state--primary">

<!--                                                        <label class="check-box__label" for="remember-me">Remember Me</label>-->
                                                    </div>
                                                </div>
                                                <!--====== End - Check Box ======-->
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        {% endif %}
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->
        </div>
        <!--====== End - App Content ======-->
{% endblock %}