{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'alerts.html' %}

              <script>
                  setTimeout(function(){
                    if ($('#message').length > 0){
                      $('#message').remove();
                      }
                    },4000)

              </script>



        <!--====== App Content ======-->
        <div class="app-content">
                         <script>
                 function validate()
                {
                var g = document.getElementById("images").value;

				if(g=="")
                {
                    document.getElementById('img').style.display = "block";

                    document.getElementById('img').innerHTML="**Please upload image";
                    return false;
                }
				else{
						document.getElementById('img').style.display = "none";
									            return true;


					}
				}
				</script>

            <!--====== Section 1 ======-->
            <div class="u-s-p-t-90">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">

                            <!--====== Product Breadcrumb ======-->
                            <div class="pd-breadcrumb u-s-m-b-30">
                                <ul class="pd-breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="#">Home</a></li>
                                    <li class="is-marked">

                                        <a href="#">{{ single_product.category }}</a></li>
<!--                                    <li class="has-separator">-->

<!--                                        <a href="shop-side-version-2.html">DSLR Cameras</a></li>-->
<!--                                    <li class="is-marked">-->

<!--                                        <a href="shop-side-version-2.html">Nikon Cameras</a></li>-->
                                </ul>
                            </div>
                            <!--====== End - Product Breadcrumb ======-->


                            <!--====== Product Detail Zoom ======-->
                            <div class="pd u-s-m-b-30">
                                <div class="slider-fouc pd-wrap">
                                    <div id="pd-o-initiate">
<!--                                        #zooming first image. image from product table-->
<!--                                        #firts image from product table-->

                                        <div class="pd-o-img-wrap" data-src="{{ single_product.images.url }}">

                                            <img class="u-img-fluid" src="{{ single_product.images.url }}" style="width:450px;height:450px;" data-zoom-image="{{ single_product.images.url }}" alt="">

                                        </div>
                                        {% for i in product_gallery %}

                                        <div class="pd-o-img-wrap" data-src="{{i.image.url}}">

                                            <img class="u-img-fluid" src="{{i.image.url}}" data-zoom-image="{{i.image.url}}" alt="">
                                        </div>
                                        {% endfor %}
                                    </div>

                                    <span class="pd-text">Click for larger zoom</span>
                                </div>
                                <div class="u-s-m-t-15">
                                    <div class="slider-fouc">
                                        <div id="pd-o-thumbnail">
                                            <div>

                                                <img class="u-img-fluid" src="{{ single_product.images.url }}" alt=""></div>
                                            {% for i in product_gallery %}

                                            <div>

                                                <img class="u-img-fluid" src="{{i.image.url}}" alt=""></div>
                                            {% endfor %}


<!--                                            <div>-->

<!--                                                <img class="u-img-fluid" src="images/product/product-d-3.jpg" alt=""></div>-->
<!--                                            <div>-->

<!--                                                <img class="u-img-fluid" src="images/product/product-d-4.jpg" alt=""></div>-->
<!--                                            <div>-->

<!--                                                <img class="u-img-fluid" src="images/product/product-d-5.jpg" alt=""></div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--====== End - Product Detail Zoom ======-->
                        </div>
                        <div class="col-lg-7">

                            <!--====== Product Right Side Details ======-->
                            <div class="pd-detail">
                                <div>

                                    <span class="pd-detail__name">{{ single_product.product_name }}</span></div>
                                <div>
                                    <div class="pd-detail__inline">

                                        <span class="pd-detail__price">₹{{single_product.price}}</span>

<!--                                        <span class="pd-detail__discount">(76% OFF)</span><del class="pd-detail__del">$28.97</del>-->

                                    </div>
                                </div>
                                <div class="u-s-m-b-15">
                                    <div class="pd-detail__rating gl-rating-style">
<!--                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>-->
                                        <i class="fa fa-star{% if single_product.averageReview < 0.5 %}-o{% elif single_product.averageReview >= 0.5 and single_product.averageReview < 1 %}-half-o {% endif %}"
                                        aria-hidden="true"></i>
                                    <i class="fa fa-star{% if single_product.averageReview < 1.5 %}-o{% elif single_product.averageReview >= 1.5 and single_product.averageReview < 2 %}-half-o {% endif %}"
                                        aria-hidden="true"></i>
                                    <i class=" {% if single_product.averageReview < 2.5 %}-o{% elif single_product.averageReview >= 2.5 and single_product.averageReview < 3 %}-half-o {% endif %}"
                                        aria-hidden="true"></i>
                                    <i class="fa fa-star{% if single_product.averageReview < 3.5 %}-o{% elif single_product.averageReview >= 3.5 and single_product.averageReview < 4 %}-half-o {% endif %}"
                                        aria-hidden="true"></i>
                                    <i class="fa fa-star{% if single_product.averageReview < 4.5 %}-o{% elif single_product.averageReview >= 4.5 and single_product.averageReview < 5 %}-half-o {% endif %}"
                                        aria-hidden="true"></i>

                                        <span class="pd-detail__review u-s-m-l-4">

                                            <a data-click-scroll="#view-review">{{single_product.countReview}} Reviews</a></span></div>
                                </div>
                                <div class="u-s-m-b-15">
                                    <div class="pd-detail__inline">

<!--                                        <span class="pd-detail__stock">200 in stock</span>-->

<!--                                        <span class="pd-detail__left">Only 2 left</span>-->
                                    </div>
                                </div>
                                <div class="u-s-m-b-15">

                                    <span class="pd-detail__preview-desc">{{ single_product.description }}</span></div>
                                <div class="u-s-m-b-15">
                                    <div class="pd-detail__inline">

                                        <span class="pd-detail__click-wrap"><i class="far fa-heart u-s-m-r-6"></i>

                                            <a href="{% url 'add_wishlist' single_product.id %}">Add to Wishlist</a>

<!--                                            <span class="pd-detail__click-count">(222)</span>-->
                                        </span>

                                    </div>
                                </div>
                                <div class="u-s-m-b-15">
<!--                                    <div class="pd-detail__inline">-->

<!--                                        <span class="pd-detail__click-wrap"><i class="far fa-envelope u-s-m-r-6"></i>-->

<!--                                            <a href="signin.html">Email me When the price drops</a>-->

<!--                                            <span class="pd-detail__click-count">(20)</span>-->
<!--                                        </span></div>-->
                                </div>
                                <div class="u-s-m-b-15">
<!--                                    <ul class="pd-social-list">-->
<!--                                        <li>-->

<!--                                            <a class="s-fb&#45;&#45;color-hover" href="#"><i class="fab fa-facebook-f"></i></a></li>-->
<!--                                        <li>-->

<!--                                            <a class="s-tw&#45;&#45;color-hover" href="#"><i class="fab fa-twitter"></i></a></li>-->
<!--                                        <li>-->

<!--                                            <a class="s-insta&#45;&#45;color-hover" href="#"><i class="fab fa-instagram"></i></a></li>-->
<!--                                        <li>-->

<!--                                            <a class="s-wa&#45;&#45;color-hover" href="#"><i class="fab fa-whatsapp"></i></a></li>-->
<!--                                        <li>-->

<!--                                            <a class="s-gplus&#45;&#45;color-hover" href="#"><i class="fab fa-google-plus-g"></i></a></li>-->
<!--                                    </ul>-->
                                </div>


<!--                                <div class="row">-->
<!--                                <div class="item-option-select">-->
<!--                                    <h6>Choose Color</h6>-->
<!--                                    <select name="color" class="form-control" required>-->
<!--                                        <option value="" disabled selected>Select</option>-->
<!--                                        {% for i in single_product.variation_set.colors %}-->
<!--                                        <option value="{{ i.variation_value | lower }}">-->
<!--                                            {{ i.variation_value | capfirst }}</option>-->
<!--                                        {% endfor %}-->
<!--                                    </select>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="row">-->
<!--                                <div class="item-option-select">-->
<!--                                    <h6>Select Size</h6>-->
<!--                                    <select name="size" class="form-control" required>-->
<!--                                        <option value="" disabled selected>Select</option>-->
<!--                                        {% for i in single_product.variation_set.sizes %}-->
<!--                                        <option value="{{ i.variation_value | lower }}">-->
<!--                                            {{ i.variation_value | capfirst }}</option>-->
<!--                                        {% endfor %}-->
<!--                                    </select>-->
<!--                                </div>-->
<!--                            </div>-->









                                <div class="u-s-m-b-15">
                                    <form class="pd-detail__form" action="{% url 'add_cart' single_product.id %}" method="POST">
                                        {% csrf_token %}

<!--                                        <div class="u-s-m-b-15">-->

<!--                                            <span class="pd-detail__label u-s-m-b-8">Color:</span>-->
<!--                                            <div class="pd-detail__color">-->
<!--                                                <div class="color__radio">-->

<!--                                                    <input type="radio" id="jet" name="color" checked>-->

<!--                                                    <label class="color__radio-label" for="jet" style="background-color: #333333"></label></div>-->
<!--                                                <div class="color__radio">-->

<!--                                                    <input type="radio" id="folly" name="color">-->

<!--                                                    <label class="color__radio-label" for="folly" style="background-color: #FF0055"></label></div>-->
<!--                                                <div class="color__radio">-->

<!--                                                    <input type="radio" id="yellow" name="color">-->

<!--                                                    <label class="color__radio-label" for="yellow" style="background-color: #FFFF00"></label></div>-->
<!--                                                <div class="color__radio">-->

<!--                                                    <input type="radio" id="granite-gray" name="color">-->

<!--                                                    <label class="color__radio-label" for="granite-gray" style="background-color: #605F5E"></label></div>-->
<!--                                                <div class="color__radio">-->

<!--                                                    <input type="radio" id="space-cadet" name="color">-->

<!--                                                    <label class="color__radio-label" for="space-cadet" style="background-color: #1D3461"></label></div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="u-s-m-b-15">-->

<!--                                            <span class="pd-detail__label u-s-m-b-8">Size:</span>-->
<!--                                            <div class="pd-detail__size">-->
<!--                                                <div class="size__radio">-->

<!--                                                    <input type="radio" id="xs" name="size" checked>-->

<!--                                                    <label class="size__radio-label" for="xs">XS</label></div>-->
<!--                                                <div class="size__radio">-->

<!--                                                    <input type="radio" id="small" name="size">-->

<!--                                                    <label class="size__radio-label" for="xxl">Small</label></div>-->
<!--                                                <div class="size__radio">-->

<!--                                                    <input type="radio" id="medium" name="size">-->

<!--                                                    <label class="size__radio-label" for="medium">Medium</label></div>-->
<!--                                                <div class="size__radio">-->

<!--                                                    <input type="radio" id="large" name="size">-->

<!--                                                    <label class="size__radio-label" for="xxl">Large</label></div>-->
<!--                                                <div class="size__radio">-->

<!--                                                    <input type="radio" id="xl" name="size">-->

<!--                                                    <label class="size__radio-label" for="xl">XL</label></div>-->
<!--                                                <div class="size__radio">-->

<!--                                                    <input type="radio" id="xxl" name="size">-->

<!--                                                    <label class="size__radio-label" for="xxl">XXL</label></div>-->
<!--                                            </div>-->
<!--                                        </div>-->
                                        <div class="pd-detail-inline-2">
                                            <div class="u-s-m-b-15">

                                                <!--====== Input Counter ======-->
<!--                                                <div class="input-counter">-->

<!--                                                    <span class="input-counter__minus fas fa-minus"></span>-->

<!--                                                    <input class="input-counter__text input-counter&#45;&#45;text-primary-style" type="text" value="1" data-min="1" data-max="1000">-->

<!--                                                    <span class="input-counter__plus fas fa-plus"></span></div>-->
                                                <!--====== End - Input Counter ======-->
                                            </div>
                                             {% if single_product.stock <= 0 %}
                                            <div class="u-s-m-b-15">

                                                <a class="btn btn--e-brand-b-2" >Out Of Stock</a>

                                            </div>
                                            {% else %}
                                            <div class="u-s-m-b-15">

                                                <button class="btn btn--e-brand-b-2" type="submit">Add to Cart</button>

                                            </div>
                                            {% endif %}

                                        </div>
                                    </form>
                                </div>
                                <div class="u-s-m-b-15">

                                    <span class="pd-detail__label u-s-m-b-8">Product Policy:</span>
                                    <ul class="pd-detail__policy-list">
                                        <li><i class="fas fa-check-circle u-s-m-r-8"></i>

                                            <span>Buyer Protection.</span></li>
                                        <li><i class="fas fa-check-circle u-s-m-r-8"></i>

                                            <span>Full Refund if you don't receive your order.</span></li>
                                        <li><i class="fas fa-check-circle u-s-m-r-8"></i>

                                            <span>Returns accepted if product not as described.</span></li>
                                    </ul>


                                </div>
                                <div class="tab-pane" >
                                        <div class="pd-tab__tag">
                                            <h2 class="u-s-m-b-15">Create Your own bathroom design</h2>

<!--                                            <h2 class="u-s-m-b-15">ADD YOUR BATHROOM IMAGE</h2>-->
                                            <div class="u-s-m-b-15">
                                                <form method="post" action="{% url 'view' %}"  enctype="multipart/form-data" onsubmit="return validate();">
                                                    {% csrf_token %}
                                                    <label class="gl-label" for="images">Add your bathroom image</label>
                                                    <span id="img" style="color:red"> </span>



                                                    <input class="input-text input-text--primary-style" type="file" type="file" name="images" id="images" placeholder="Image" onblur="return validate()" onKeyUp="return validate()" accept="image/png, image/jpeg">


                                                    <button class="btn btn--e-brand-b-2" type="submit">ADD IMAGE</button>
                                               <a href="{% url 'p' single_product.id %}">
                                                   <button class="btn btn--e-brand-b-2" type="submit" >DISPLAY IT</button></a>

                                                </form>

                                            </div>

                                            <span class="gl-text">Use spaces to separate tags. Use single quotes (') for phrases.</span>
                                        </div>
                                    </div>







                            </div>
                            <!--====== End - Product Right Side Details ======-->
                        </div>
                    </div>
                </div>
            </div>

            <!--====== Product Detail Tab ======-->
            <div class="u-s-p-y-90">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="pd-tab">
                                <div class="u-s-m-b-30">
                                    <ul class="nav pd-tab__list">
<!--                                        <li class="nav-item">-->

<!--                                            <a class="nav-link" data-toggle="tab" href="#pd-desc">DESCRIPTION</a></li>-->
                                        <li class="nav-item">

                                            <a class="nav-link" data-toggle="tab" href="#pd-tag">TAGS</a></li>
                                        <li class="nav-item">

                                            <a class="nav-link active" id="view-review" data-toggle="tab" href="#pd-rev">REVIEWS

                                                <span>({{single_product.countReview}})</span></a></li>
                                    </ul>
                                </div>
                                <div class="tab-content">

                                    <!--====== Tab 1 ======-->
                                    <div class="tab-pane" id="pd-desc">
                                        <div class="pd-tab__desc">
                                            <div class="u-s-m-b-15">
                                                <p>{{ single_product.description }}</p>
                                            </div>
<!--                                            <div class="u-s-m-b-30"><iframe src="https://www.youtube.com/embed/qKqSBm07KZk" allowfullscreen></iframe></div>-->
                                            <div class="u-s-m-b-30">
                                                <ul>
                                                    <li><i class="fas fa-check u-s-m-r-8"></i>

                                                        <span>Buyer Protection.</span></li>
                                                    <li><i class="fas fa-check u-s-m-r-8"></i>

                                                        <span>Full Refund if you don't receive your order.</span></li>
                                                    <li><i class="fas fa-check u-s-m-r-8"></i>

                                                        <span>Returns accepted if product not as described.</span></li>
                                                </ul>
                                            </div>
                                            <div class="u-s-m-b-15">
                                                <h4>PRODUCT INFORMATION</h4>
                                            </div>
                                            <div class="u-s-m-b-15">
                                                <div class="pd-table gl-scroll">
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>Main Material</td>
                                                                <td>Cotton</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Color</td>
                                                                <td>Green, Blue, Red</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Sleeves</td>
                                                                <td>Long Sleeve</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Top Fit</td>
                                                                <td>Regular</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Print</td>
                                                                <td>Not Printed</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Neck</td>
                                                                <td>Round Neck</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Pieces Count</td>
                                                                <td>1 Piece</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Occasion</td>
                                                                <td>Casual</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Shipping Weight (kg)</td>
                                                                <td>0.5</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--====== End - Tab 1 ======-->


                                    <!--====== Tab 2 ======-->
                                    <div class="tab-pane" id="pd-tag">
                                        <div class="pd-tab__tag">
                                            <h2 class="u-s-m-b-15">Create Your own bathroom design</h2>

<!--                                            <h2 class="u-s-m-b-15">ADD YOUR BATHROOM IMAGE</h2>-->
                                            <div class="u-s-m-b-15">
                                                <form method="post" action="{% url 'view' %}"  enctype="multipart/form-data" onsubmit="return validate();">
                                                    {% csrf_token %}
                                                    <label class="gl-label" for="images">Add your bathroom image</label>


                                                    <input class="input-text input-text--primary-style" type="file" type="file" name="images" id="images1" placeholder="Image">

                                                    <button class="btn btn--e-brand-b-2" type="submit">ADD IMAGE</button></form>
                                               <a href="{% url 'p' single_product.id %}">
                                                   <button class="btn btn--e-brand-b-2" type="submit" >DISPLAY</button></a>

                                                </form>

                                            </div>

                                            <span class="gl-text">Use spaces to separate tags. Use single quotes (') for phrases.</span>
                                        </div>
                                    </div>
                                    <!--====== End - Tab 2 ======-->




                                    <!--====== Tab 3 ======-->
                                    <div class="tab-pane fade show active" id="pd-rev">
                                        <div class="pd-tab__rev">
                                            <div class="u-s-m-b-30">
                                                <div class="pd-tab__rev-score">
                                                    <div class="u-s-m-b-8">
                                                        <h2>{{single_product.countReview}} Reviews - {{single_product.averageReview}} (Overall)</h2>
                                                    </div>
                                                    <div class="gl-rating-style-2 u-s-m-b-8">

                                                         <i class="fa fa-star{% if single_product.averageReview < 0.5 %}-o{% elif single_product.averageReview >= 0.5 and single_product.averageReview < 1 %}-half-o {% endif %}"
                                        aria-hidden="true"></i>
                                    <i class="fa fa-star{% if single_product.averageReview < 1.5 %}-o{% elif single_product.averageReview >= 1.5 and single_product.averageReview < 2 %}-half-o {% endif %}"
                                        aria-hidden="true"></i>
                                    <i class="fa fa-star{% if single_product.averageReview < 2.5 %}-o{% elif single_product.averageReview >= 2.5 and single_product.averageReview < 3 %}-half-o {% endif %}"
                                        aria-hidden="true"></i>
                                    <i class="fa fa-star{% if single_product.averageReview < 3.5 %}-o{% elif single_product.averageReview >= 3.5 and single_product.averageReview < 4 %}-half-o {% endif %}"
                                        aria-hidden="true"></i>
                                    <i class="fa fa-star{% if single_product.averageReview < 4.5 %}-o{% elif single_product.averageReview >= 4.5 and single_product.averageReview < 5 %}-half-o {% endif %}"
                                        aria-hidden="true"></i>

                                                    </div>
                                                    <div class="u-s-m-b-8">
                                                        <h4>We want to hear from you!</h4>
                                                    </div>

                                                    <span class="gl-text">Tell us what you think about this item</span>
                                                </div>
                                            </div>
                                            <div class="u-s-m-b-30">
                                                <form class="pd-tab__rev-f1">
                                                    <div class="rev-f1__group">
                                                        <div class="u-s-m-b-15">
                                                            <h2>{{single_product.countReview}} Review(s) for {{single_product.product_name}}</h2>
                                                        </div>
                                                        <div class="u-s-m-b-15">

<!--                                                            <label for="sort-review"></label><select class="select-box select-box&#45;&#45;primary-style" id="sort-review">-->
<!--                                                                <option selected>Sort by: Best Rating</option>-->
<!--                                                                <option>Sort by: Worst Rating</option>-->
<!--                                                            </select>-->
                                                        </div>
                                                    </div>
                                                    <div class="rev-f1__review">

                                                        {% for review in reviews %}
                                                        <div class="review-o u-s-m-b-15">
                                                            <div class="review-o__info u-s-m-b-8">

                                                                <span class="review-o__name">{{review.user.fname}}</span>

                                                                <span class="review-o__date">{{review.updated_at}}</span></div>
                                                            <div class="review-o__rating gl-rating-style u-s-m-b-8">

                                                                 <i class="fa fa-star{% if review.rating < 0.5 %}-o{% elif review.rating >= 0.5 and review.rating < 1 %}-half-o {% endif %}"
                                        aria-hidden="true"></i>
                                    <i class="fa fa-star{% if review.rating < 1.5 %}-o{% elif review.rating >= 1.5 and review.rating < 2 %}-half-o {% endif %}"
                                        aria-hidden="true"></i>
                                    <i class="fa fa-star{% if review.rating < 2.5 %}-o{% elif review.rating >= 2.5 and review.rating < 3 %}-half-o {% endif %}"
                                        aria-hidden="true"></i>
                                    <i class="fa fa-star{% if review.rating < 3.5 %}-o{% elif review.rating >= 3.5 and review.rating < 4 %}-half-o {% endif %}"
                                        aria-hidden="true"></i>
                                    <i class="fa fa-star{% if review.rating < 4.5 %}-o{% elif review.rating >= 4.5 and review.rating < 5 %}-half-o {% endif %}"
                                        aria-hidden="true"></i>
                                                                <span>({{review.rating}})</span>
                                                            </div>
                                                            <p class="review-o__text">
                                                                {{review.review}}
                                                            </p>
                                                        </div>
                                                        {% endfor %}


                                                    </div>
                                                </form>
                                            </div>
                                            <div class="u-s-m-b-30">
                                                <form class="pd-tab__rev-f2" action="{% url 'submit_review' single_product.id %}" method="POST">
                                                    {% csrf_token %}

                                                    <h2 class="u-s-m-b-15">Add a Review</h2>

                                                    <span class="gl-text u-s-m-b-15">Your email address will not be published. Required fields are marked *</span>
                                                    <div class="u-s-m-b-30">
                                                        <div class="rev-f2__table-wrap gl-scroll">
                                                            <table class="rev-f2__table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>
                                                                            <div class="gl-rating-style-2"><i class="fas fa-star"></i>

                                                                                <span>(1)</span></div>
                                                                        </th>
                                                                        <th>
                                                                            <div class="gl-rating-style-2"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>

                                                                                <span>(1.5)</span></div>
                                                                        </th>
                                                                        <th>
                                                                            <div class="gl-rating-style-2"><i class="fas fa-star"></i><i class="fas fa-star"></i>

                                                                                <span>(2)</span></div>
                                                                        </th>
                                                                        <th>
                                                                            <div class="gl-rating-style-2"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>

                                                                                <span>(2.5)</span></div>
                                                                        </th>
                                                                        <th>
                                                                            <div class="gl-rating-style-2"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>

                                                                                <span>(3)</span></div>
                                                                        </th>
                                                                        <th>
                                                                            <div class="gl-rating-style-2"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>

                                                                                <span>(3.5)</span></div>
                                                                        </th>
                                                                        <th>
                                                                            <div class="gl-rating-style-2"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>

                                                                                <span>(4)</span></div>
                                                                        </th>
                                                                        <th>
                                                                            <div class="gl-rating-style-2"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>

                                                                                <span>(4.5)</span></div>
                                                                        </th>
                                                                        <th>
                                                                            <div class="gl-rating-style-2"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>

                                                                                <span>(5)</span></div>
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>

                                                                            <!--====== Radio Box ======-->
                                                                            <div class="radio-box">

                                                                                <input type="radio" id="star-1" name="rating" value="1" required>
                                                                                <div class="radio-box__state radio-box__state--primary">

                                                                                    <label class="radio-box__label" for="star-1"></label></div>
                                                                            </div>
                                                                            <!--====== End - Radio Box ======-->
                                                                        </td>
                                                                        <td>

                                                                            <!--====== Radio Box ======-->
                                                                            <div class="radio-box">

                                                                                <input type="radio" id="star-1.5" name="rating" value="1.5" required>
                                                                                <div class="radio-box__state radio-box__state--primary">

                                                                                    <label class="radio-box__label" for="star-1.5"></label></div>
                                                                            </div>
                                                                            <!--====== End - Radio Box ======-->
                                                                        </td>
                                                                        <td>

                                                                            <!--====== Radio Box ======-->
                                                                            <div class="radio-box">

                                                                                <input type="radio" id="star-2" name="rating" value="2" required>
                                                                                <div class="radio-box__state radio-box__state--primary">

                                                                                    <label class="radio-box__label" for="star-2"></label></div>
                                                                            </div>
                                                                            <!--====== End - Radio Box ======-->
                                                                        </td>
                                                                        <td>

                                                                            <!--====== Radio Box ======-->
                                                                            <div class="radio-box">

                                                                                <input type="radio" id="star-2.5" name="rating" value="2.5" required>
                                                                                <div class="radio-box__state radio-box__state--primary">

                                                                                    <label class="radio-box__label" for="star-2.5"></label></div>
                                                                            </div>
                                                                            <!--====== End - Radio Box ======-->
                                                                        </td>
                                                                        <td>

                                                                            <!--====== Radio Box ======-->
                                                                            <div class="radio-box">

                                                                                <input type="radio" id="star-3" name="rating" value="3" required>
                                                                                <div class="radio-box__state radio-box__state--primary">

                                                                                    <label class="radio-box__label" for="star-3"></label></div>
                                                                            </div>
                                                                            <!--====== End - Radio Box ======-->
                                                                        </td>
                                                                        <td>

                                                                            <!--====== Radio Box ======-->
                                                                            <div class="radio-box">

                                                                                <input type="radio" id="star-3.5" name="rating" value="3.5" required>
                                                                                <div class="radio-box__state radio-box__state--primary">

                                                                                    <label class="radio-box__label" for="star-3.5"></label></div>
                                                                            </div>
                                                                            <!--====== End - Radio Box ======-->
                                                                        </td>
                                                                        <td>

                                                                            <!--====== Radio Box ======-->
                                                                            <div class="radio-box">

                                                                                <input type="radio" id="star-4" name="rating" value="4" required>
                                                                                <div class="radio-box__state radio-box__state--primary">

                                                                                    <label class="radio-box__label" for="star-4"></label></div>
                                                                            </div>
                                                                            <!--====== End - Radio Box ======-->
                                                                        </td>
                                                                        <td>

                                                                            <!--====== Radio Box ======-->
                                                                            <div class="radio-box">

                                                                                <input type="radio" id="star-4.5" name="rating" value="4.5" required>
                                                                                <div class="radio-box__state radio-box__state--primary">

                                                                                    <label class="radio-box__label" for="star-4.5"></label></div>
                                                                            </div>
                                                                            <!--====== End - Radio Box ======-->
                                                                        </td>
                                                                        <td>

                                                                            <!--====== Radio Box ======-->
                                                                            <div class="radio-box">

                                                                                <input type="radio" id="star-5" name="rating" value="5" required>
                                                                                <div class="radio-box__state radio-box__state--primary">

                                                                                    <label class="radio-box__label" for="star-5"></label></div>
                                                                            </div>
                                                                            <!--====== End - Radio Box ======-->
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="rev-f2__group">
                                                        <div class="u-s-m-b-15">

                                                            <label class="gl-label" for="reviewer-text">YOUR REVIEW *</label>
                                                            <textarea class="text-area text-area--primary-style" id="reviewer-text"  name="review"></textarea></div>
                                                        <div>
<!--                                                            <p class="u-s-m-b-30">-->

<!--                                                                <label class="gl-label" for="reviewer-name" >Review Title:</label>-->

<!--                                                                <input class="input-text input-text&#45;&#45;primary-style" type="text"  name="subject" id="reviewer-name"></p>-->
<!--                                                            <p class="u-s-m-b-30">-->

<!--                                                                <label class="gl-label" for="reviewer-email">EMAIL *</label>-->

<!--                                                                <input class="input-text input-text&#45;&#45;primary-style" type="text" id="reviewer-email"></p>-->
                                                        </div>
                                                    </div>
                                                    <div>

                                                        <button class="btn btn--e-brand-shadow" type="submit">SUBMIT</button></div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!--====== End - Tab 3 ======-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Product Detail Tab ======-->
            <div class="u-s-p-b-90">

                <!--====== Section Intro ======-->
                <!--====== End - Section Intro ======-->


                <!--====== Section Content ======-->
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 1 ======-->
        </div>
        <!--====== End - App Content ======-->


{% endblock %}
