{% extends 'base.html' %}
{% load static %}
{% block content %}


        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="index.html">Home</a></li>
                                    <li class="is-marked">

                                        <a href="signup.html">Signup</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->


            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Intro ======-->
                <div class="section__intro u-s-m-b-60">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section__text-wrap">
                                    <h1 class="section__heading u-c-secondary">CREATE AN ACCOUNT</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Intro ======-->


                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row row--center">
                            <div class="col-lg-6 col-md-8 u-s-m-b-30">
                                <div class="l-f-o">
                                    <div class="l-f-o__pad-box">
                                        <h1 class="gl-h1">PERSONAL INFORMATION</h1>
                                        <form class="l-f-o__form" action="{% url 'register' %}" method="post">
                                            {% csrf_token %}
<!--                                            <div class="gl-s-api">-->
<!--                                                <div class="u-s-m-b-15">-->

<!--                                                    <button class="gl-s-api_btn gl-s-api_btn&#45;&#45;fb" type="button"><i class="fab fa-facebook-f"></i>-->

<!--                                                        <span>Signup with Facebook</span></button></div>-->
<!--                                                <div class="u-s-m-b-30">-->

<!--                                                    <button class="gl-s-api_btn gl-s-api_btn&#45;&#45;gplus" type="button"><i class="fab fa-google"></i>-->

<!--                                                        <span>Signup with Google</span></button></div>-->
<!--                                            </div>-->
                                            <div class="u-s-m-b-30">

                                                <label class="gl-label" for="fname">FIRST NAME *</label>

                                                <input class="input-text input-text--primary-style" type="text" name="fname" id="fname" placeholder="First Name">
                                            </div>
                                            <div class="u-s-m-b-30">

                                                <label class="gl-label" for="lname">LAST NAME *</label>

                                                <input class="input-text input-text--primary-style" type="text" name="lname" id="lname" placeholder="Last Name">
                                            </div>

                                            <div class="u-s-m-b-30">

                                                <label class="gl-label" for="email">E-MAIL *</label>

                                                <input class="input-text input-text--primary-style" type="email" name="email" id="email" placeholder="Enter E-mail"></div>
                                            <div class="u-s-m-b-30">

                                                <label class="gl-label" for="phone_number">PHONE NUMBER *</label>

                                                <input class="input-text input-text--primary-style" type="text" name="tel" id="phone_number" placeholder="Enter 10 digits"></div>
                                            <div class="u-s-m-b-30">

                                                <label class="gl-label" for="password">PASSWORD *</label>

                                                <input class="input-text input-text--primary-style" type="password" name="password" id="password" placeholder="Enter Password"></div>
                                            <div class="u-s-m-b-30">

                                                <label class="gl-label" for="cpassword">CONFIRM PASSWORD *</label>

                                                <input class="input-text input-text--primary-style" type="password" name="cpassword" id="cpassword" placeholder="Enter Password"></div>
                                            <div class="u-s-m-b-15">

                                                <button class="btn btn--e-transparent-brand-b-2" type="submit">CREATE</button></div>

                                            <a class="gl-link" href="#">Return to Store</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->
        </div>
        <!--====== End - App Content ======-->
{% endblock %}
