{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'alerts.html' %}

              <script>
                  setTimeout(function(){
                    if ($('#message').length > 0){
                      $('#message').remove();
                      }
                    },4000)

              </script>

        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="#">Home</a></li>
                                    <li class="is-marked">

                                        <a href="#">Wishlist</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<!--            ====== End - Section 1 ======-->
             {% if not wishlist_items %}
             <div class="u-s-p-y-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 u-s-m-b-30">
                                <div class="empty">
                                    <div class="empty__wrap">

                                        <span class="empty__big-text">EMPTY</span>

                                        <span class="empty__text-1">No items found on your wishlist.</span>

                                        <a class="empty__redirect-link btn--e-brand" href="{% url 'store' %}">CONTINUE SHOPPING</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            {% else %}
            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Intro ======-->
                <div class="section__intro u-s-m-b-60">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section__text-wrap">
                                    <h1 class="section__heading u-c-secondary">Wishlist</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Intro ======-->


                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                {% for wishlist_item in wishlist_items %}


                                <!--====== Wishlist Product ======-->
                                <div class="w-r u-s-m-b-30">
                                    <div class="w-r__container">
                                        <div class="w-r__wrap-1">
                                            <div class="w-r__img-wrap">

                                                <img class="u-img-fluid" src="{{wishlist_item.product.images.url}}" alt=""></div>
                                            <div class="w-r__info">

                                                <span class="w-r__name">

                                                    <a href="product-detail.html">{{wishlist_item.product.product_name}}</a></span>

                                                <span class="w-r__category">

                                                    <a href="shop-side-version-2.html">{{wishlist_item.product.category_name}}</a></span>

                                                <span class="w-r__price">₹{{wishlist_item.product.price}}

<!--                                                    <span class="w-r__discount">$160.00</span>-->
                                                </span>
                                            </div>
                                        </div>
                                        <div class="w-r__wrap-2">
                                            {% if wishlist_item.stock <= 0 %}
                                            <a class="w-r__link btn--e-brand-b-2" href="#">OUT OF STOCK</a>
                                            {% else %}
                                            <a class="w-r__link btn--e-brand-b-2" href="{% url 'add_cart' wishlist_item.product.id %}" data-modal="modal" data-modal-id="#add-to-cart">ADD TO CART</a>
                                            {% endif %}


                                            <a class="w-r__link btn--e-transparent-platinum-b-2" href="{{wishlist_item.product.get_url}}" >VIEW</a>

                                            <a class="w-r__link btn--e-transparent-platinum-b-2" href="{% url 'remove_wishlist_item' wishlist_item.product.id wishlist_item.id%}">REMOVE</a></div>
                                    </div>
                                </div>
                                <!--====== End - Wishlist Product ======-->
                                {% endfor %}


                            </div>

                            <div class="col-lg-12">
                                <div class="route-box">
                                    <div class="route-box__g">

                                        <a class="route-box__link" href="{% url 'store' %}"><i class="fas fa-long-arrow-alt-left"></i>

                                            <span>CONTINUE SHOPPING</span></a></div>
                                    <div class="route-box__g">

<!--                                        <a class="route-box__link" href="wishlist.html"><i class="fas fa-trash"></i>-->

<!--                                            <span>CLEAR WISHLIST</span></a>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            {% endif %}

            <!--====== End - Section 2 ======-->
        </div>
        <!--====== End - App Content ======-->
         <!--====== Add to Cart Modal ======-->
        <div class="modal fade" id="add-to-cart">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content modal-radius modal-shadow">

                    <button class="btn dismiss-button fas fa-times" type="button" data-dismiss="modal"></button>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="success u-s-m-b-30">
                                    <div class="success__text-wrap"><i class="fas fa-check"></i>

                                        <span>Item is added successfully!</span></div>
                                    <div class="success__img-wrap">

                                        <img class="u-img-fluid" src="images/product/electronic/product1.jpg" alt=""></div>
                                    <div class="success__info-wrap">

                                        <span class="success__name">Beats Bomb Wireless Headphone</span>

                                        <span class="success__quantity">Quantity: 1</span>

                                        <span class="success__price">$170.00</span></div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="s-option">

                                    <span class="s-option__text">1 item (s) in your cart</span>
                                    <div class="s-option__link-box">

                                        <a class="s-option__link btn--e-white-brand-shadow" data-dismiss="modal">CONTINUE SHOPPING</a>

                                        <a class="s-option__link btn--e-white-brand-shadow" href="cart.html">VIEW CART</a>

                                        <a class="s-option__link btn--e-brand-shadow" href="checkout.html">PROCEED TO CHECKOUT</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Add to Cart Modal ====-->
        {% endblock %}
