{% extends 'base.html' %}
{% load static %}
{% block content %}


        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="#">Home</a></li>
                                    <li class="is-marked">

                                        <a href="#">My Account</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->


            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="dash">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-12">

                                    <!--====== Dashboard Features ======-->
                                    {% include 'dashboard/dash-feature.html' %}

                                    <!--====== End - Dashboard Features ======-->
                                </div>
                                <div class="col-lg-9 col-md-12">
                                    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                                        <div class="dash__pad-2">
                                            <h1 class="dash__h1 u-s-m-b-14">My Profile</h1>

                                            <span class="dash__text u-s-m-b-30">Look all your info, you could customize your profile.</span>
                                            <div class="row">
                                                <div class="col-lg-4 u-s-m-b-30">
                                                    <h2 class="dash__h2 u-s-m-b-8">Full Name</h2>

                                                    <span class="dash__text">Hello {{user.fname}} {{user.lname}}</span>
                                                </div>
                                                <div class="col-lg-4 u-s-m-b-30">
                                                    <h2 class="dash__h2 u-s-m-b-8">E-mail</h2>

                                                    <span class="dash__text">{{user.email}}</span>
<!--                                                    <div class="dash__link dash__link&#45;&#45;secondary">-->

<!--                                                        <a href="#">Change</a></div>-->
                                                </div>
                                                <div class="col-lg-4 u-s-m-b-30">
                                                    <h2 class="dash__h2 u-s-m-b-8">Phone</h2>

                                                    <span class="dash__text">{{user.phone_number}}</span>
<!--                                                    <div class="dash__link dash__link&#45;&#45;secondary">-->

<!--                                                        <a href="#">Add</a></div>-->
                                                </div>
<!--                                                <div class="col-lg-4 u-s-m-b-30">-->
<!--                                                    <h2 class="dash__h2 u-s-m-b-8">Birthday</h2>-->

<!--                                                    <span class="dash__text">1991-02-02</span>-->
<!--                                                </div>-->
<!--                                                <div class="col-lg-4 u-s-m-b-30">-->
<!--                                                    <h2 class="dash__h2 u-s-m-b-8">Gender</h2>-->

<!--                                                    <span class="dash__text">Male</span>-->
<!--                                                </div>-->
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
<!--                                                    <div class="dash__link dash__link&#45;&#45;secondary u-s-m-b-30">-->

<!--                                                        <a data-modal="modal" data-modal-id="#dash-newsletter">Subscribe Newsletter</a></div>-->
                                                    <div class="u-s-m-b-16">

                                                        <a class="dash__custom-link btn--e-transparent-brand-b-2" href="{% url 'edit_profile' %}">Edit Profile</a></div>
                                                    <div>

                                                        <a class="dash__custom-link btn--e-brand-b-2" href="{% url 'changePassword' %}">Change Password</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->
        </div>
        <!--====== End - App Content ======-->
                                    {% include 'chatbot.html' %}

                <!--====== BOT-SAAM ======-->



{% endblock %}
