{% extends 'base.html' %}
{% load static %}
{% block content %}


        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="#">Home</a></li>
                                    <li class="is-marked">

                                        <a href="#">My Account</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->


            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="dash">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-12">

                                    <!--====== Dashboard Features ======-->
                                    {% include 'dashboard/dash-feature.html' %}

                                    <!--====== End - Dashboard Features ======-->
                                </div>
                                <div class="col-lg-9 col-md-12">
                                    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                                        <div class="dash__pad-2">
                                            <div class="dash__address-header">
                                                <h1 class="dash__h1">Address Book</h1>
                                                <div>

                                                    <span class="dash__link dash__link--black u-s-m-r-8">

                                                        <a href="dash-address-make-default.html">Make default shipping address</a></span>

                                                    <span class="dash__link dash__link--black">

                                                        <a href="dash-address-make-default.html">Make default shipping address</a></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dash__box dash__box--shadow dash__box--bg-white dash__box--radius u-s-m-b-30">
                                        <div class="dash__table-2-wrap gl-scroll">
                                            <table class="dash__table-2">

                                                <thead>
                                                    <tr>
                                                        <th>Action</th>
                                                        <th>Make as Default</th>

                                                        <th>Full Name</th>
                                                        <th>House Name</th>
                                                        <th>Street</th>
                                                        <th>City</th>
                                                        <th>State</th>

                                                        <th>Phone Number</th>
                                                        <th>Pin Code</th>

                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for a in address %}

                                                    <tr>
                                                        <td>

                                                            <a class="address-book-edit btn--e-transparent-platinum-b-2" href="{% url 'addressedit' a.id %}">Edit</a></td>
                                                        <td>
                                                            <a class="address-book-edit btn--e-transparent-platinum-b-2" href="{% url 'address_set' a.id %}">SET</a></td>

                                                        <td>{{a.fname}} {{a.lname}}</td>
                                                        <td>{{a.house}}</td>
                                                        <td>{{a.street}}</td>
                                                        <td>{{a.city}}</td>
                                                        <td>{{a.state}}</td>
                                                        <td>{{a.phone_number}}</td>
                                                        <td>{{a.pin}}</td>
                                                        <td>
                                                            <div class="gl-text">Default Shipping Address</div>
                                                            <div class="gl-text">Default Billing Address</div>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div>

                                        <a class="dash__custom-link btn--e-brand-b-2" href="{% url 'addressadd' %}"><i class="fas fa-plus u-s-m-r-8"></i>

                                            <span>Add New Address</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->
        </div>
        <!--====== End - App Content ======-->


{% endblock %}
