{% extends 'base.html' %}
{% load static %}
{% block content %}



        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="#">Home</a></li>
                                    <li class="is-marked">

                                        <a href="#">My Account</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->
                            <script>
                 function validate()
                {
					var f=document.getElementById("fname").value;
					var l=document.getElementById("lname").value;
					var s=/^[a-zA-Z^\s]+$/;
						   if(f=="")
                {
                    document.getElementById('fn').style.display = "block";

                    document.getElementById('fn').innerHTML="**Please Enter  First Name";
                    return false;
                }
					if(f!="" && s.test(f)==false){

						document.getElementById('fn').style.display = "block";
						document.getElementById('fn').innerHTML = "Invalid First Name";
						return false;
					}
					else{
						document.getElementById('fn').style.display = "none";
					}
					 if(l=="")
                {
                    document.getElementById('ln').style.display = "block";

                    document.getElementById('ln').innerHTML="**Please Enter  Last Name";
                    return false;
                }
					if(l!="" && s.test(l)==false){

						document.getElementById('ln').style.display = "block";
						document.getElementById('ln').innerHTML = "Invalid Last Name";
						return false;
					}
					else{
						document.getElementById('ln').style.display = "none";
					}
					var ph = document.getElementById("tel").value;
					var expr = /^[6-9]\d{9}$/;
                    if(ph=="")
                {
                    document.getElementById('pe').style.display = "block";

                    document.getElementById('pe').innerHTML="**Please Enter  Phone Number";
                    return false;
                }
					if(ph!="" && expr.test(ph)==false){
						document.getElementById('pe').style.display = "block";
						document.getElementById('pe').innerHTML = "Invalid Phone number";
						return false;
								}
								else{
						document.getElementById('pe').style.display = "none";
						                    return true;

					}
				}
			</script>


            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="dash">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-12">

                                    <!--====== Dashboard Features ======-->
                                    {% include 'dashboard/dash-feature.html' %}

                                    <!--====== End - Dashboard Features ======-->
                                </div>
                                <div class="col-lg-9 col-md-12">
                                    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white">
                                        <div class="dash__pad-2">
                                            <h1 class="dash__h1 u-s-m-b-14">Edit Profile</h1>

                                            <span class="dash__text u-s-m-b-30">Looks like you haven't update your profile</span>
                                            <div class="dash__link dash__link--secondary u-s-m-b-30">

<!--                                                <a data-modal="modal" data-modal-id="#dash-newsletter">Subscribe Newsletter</a>-->
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <form class="dash-edit-p" action="{% url 'edit_profile' %}" method="POST" enctype="multipart/form-data">
                                                        {% csrf_token %}

                                                        <div class="gl-inline">
                                                            <div class="u-s-m-b-30">

                                                                <label class="gl-label" for="fname">FIRST NAME *</label>

                                                                <input class="input-text input-text--primary-style" type="text" id="fname" name="fname" value="{{user.fname}}" onblur="return validate()" onKeyUp="return validate()">
                                                                <span id="fn" style="color: red;"></span>


                                                            </div>
                                                            <div class="u-s-m-b-30">

                                                                <label class="gl-label" for="lname">LAST NAME *</label>

                                                                <input class="input-text input-text--primary-style" type="text" id="lname"  name="lname"  value="{{user.lname}}" onblur="return validate()" onKeyUp="return validate()">
                                                                <span id="ln" style="color: red;"></span>
                                                                </div>
                                                        </div>
                                                                                                                <div class="gl-inline">
                                                            <div class="u-s-m-b-30">

                                                                <label class="gl-label" for="tel">PHONE NUMBER *</label>

                                                                <input class="input-text input-text--primary-style" type="text" id="tel" name="tel" value="{{user.phone_number}}"  onblur="return validate()" onKeyUp="return validate()"  minlength="10" maxlength="10">
                                                                <span id="pe" style="color: red;"></span>


                                                            </div>
<!--                                                            <div class="u-s-m-b-30">-->

<!--                                                                <label class="gl-label" for="lname">LAST NAME *</label>-->

<!--                                                                <input class="input-text input-text&#45;&#45;primary-style" type="text" id="lname"  name="lname"  value="{{user.lname}}"></div>-->
                                                        </div>

<!--                                                        <div class="gl-inline">-->
<!--                                                            <div class="u-s-m-b-30">-->
<!--                                                                <h2 class="dash__h2 u-s-m-b-8">E-mail</h2>-->

<!--                                                                <span class="dash__text">johndoe@domain.com</span>-->
<!--                                                                <div class="dash__link dash__link&#45;&#45;secondary">-->

<!--                                                                    <a href="#">Change</a></div>-->
<!--                                                            </div>-->
<!--                                                            <div class="u-s-m-b-30">-->
<!--                                                                <h2 class="dash__h2 u-s-m-b-8">Phone</h2>-->

<!--                                                                <span class="dash__text">Please enter your mobile</span>-->
<!--                                                                <div class="dash__link dash__link&#45;&#45;secondary">-->

<!--                                                                    <a href="#">Add</a></div>-->
<!--                                                            </div>-->
<!--                                                        </div>-->

                                                        <button class="btn btn--e-brand-b-2" type="submit">SAVE</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->
        </div>
{% endblock %}
